[2018-02-13 16:27] kesdeband opened #3 "Spinner Message"
A message will be a nice optional parameter to display below the spinner. e.g. Loding...

[2018-02-13 16:43] Napster2210 commented on #3
Sure will add in next release. Thanx for suggestion.

[2018-02-21 11:40] lesiba7 opened #4 "Found version 4, expected 3, resolving symbol AppModule"
Hi,

I am using Angular 4 and i am getting the following error:
`
node_modules/ngx-spinner/ngx-spinner.d.ts, found version 4, expected 3, resolving symbol AppModule`

I downgraded to all versions but I still get the same error.

Thanks

[2018-02-21 12:06] Napster2210 commented on #4
Such issues are coming now a days due to cli update, will check this one and try to resolve as soon as possible.

[2018-02-21 12:11] Napster2210 commented on #4
@lesiba7 just hit the command `ng -v` and post that information here. I want to know the angular-cli version, nodejs version etc.

[2018-02-21 12:16] lesiba7 commented on #4
[code]

[2018-02-21 12:18] Napster2210 commented on #4
Thanx will look into it

[2018-03-07 13:28] knehez commented on #4
Do you know any solutions? I have the same problem. Thanks

[2018-03-07 14:56] Napster2210 commented on #4
@knehez working on it will release new version with fixes soon.

[2018-03-09 20:48] enniob opened #5 "Disable full screen"
I was planning on using the spinner inside a div and when I add it to my component it goes on full screen. I wounder if its possible to give an option to be full screen or not, and if you select not the spinner would display inside your div.

[2018-03-10 16:16] Napster2210 commented on #3
Added property for loading text in [v1.1.0](https://github.com/Napster2210/ngx-spinner/releases/tag/v1.1.0)

[2018-03-10 16:16] #3 closed

[2018-03-10 18:04] Napster2210 commented on #4
@lesiba7  @knehez can you please try the latest version([v1.1.0](https://github.com/Napster2210/ngx-spinner/releases/tag/v1.1.0))

[2018-03-11 23:33] SanchitSahu commented on #4
@Napster2210 I am on v1.1.0, still seeing the same error.

[2018-03-11 23:37] SanchitSahu commented on #4
Is this package only with Angular 5 and plus OR is also supported with Angular2/4?

[2018-03-15 06:59] rspl-yuvraj commented on #5
Thanx for using `ngx-spinner` @enniob , I'll add this feature in my next release. Thanx for your suggestion.

[2018-03-16 14:11] enniob commented on #5
Thanks for the reply @rspl-yuvraj  do you have an idea when would be the next realease? 👍

[2018-03-16 14:29] Napster2210 commented on #5
@enniob  I'm planning for next release on or before next Friday.

[2018-03-26 14:48] Darkheir commented on #4
I think the issue is because you are trying to run the package with angular 4 and now only angular 5 seems to be supported.

When you install the package the `.metadata.json` file of package has a `version` key with the value `4` and angular 4 uses the version `3`

[2018-03-26 16:10] Pescu commented on #4
@Napster2210 do you have updates? I try v1.1.0 but still doesn't work.

[2018-03-28 18:44] bradleyquinn commented on #4
This is NOT compatible with anything but Angular 5+, and it has never been.  I've installed packages all the way back to 0.1.7 and the meta version mismatch persists.  Angular 4->5 introduced many non-backward compatible changes, and this error is indicative of that change.

[2018-03-28 22:53] Viveckh commented on #4
I really loved the demo of this, but sadly couldn't use it due to its incompatibility with Ang 4

[2018-03-29 18:32] Napster2210 commented on #4
I think I have to downgrade the Angular version due to this issue. Any suggestion?

[2018-04-02 06:58] ladkatprashant55 opened #6 "'ngx-spinner' is not a known element"

[2018-04-02 07:18] #6 closed

[2018-04-02 12:26] Viveckh commented on #4
If you'd want more people to use it, downgrade and release at least one version, so people using angular 4 can use that version. And then maybe, you can continue future builds with Ang 5.

[2018-04-03 11:59] Napster2210 commented on #4
@Viveckh @Pescu @lesiba7 @knehez @SanchitSahu @Darkheir
I have tried to downgrade the version of Angular to V4 but facing problems with build after that. If you guys find any solution of the same and please let em know.

[2018-04-03 13:58] Viveckh commented on #4
@Napster2210 I'm trying to work on this myself, but I couldn't figure out how to run it upon cloning a copy of the develop branch. What steps do I have to take in order to run the project?

[2018-04-04 12:12] Darkheir commented on #4
The problem from the file `gulpfile.js`

[code]

This is not supported in angular 4.

[code]

This code is working

[2018-04-04 16:30] emeacham opened #7 "Unable to change opacity of inner elements"
Can you move the opacity setting to another element? The way the template is structured currently prevents the ability to fully override the default styling. The parent container forces inheritance of the opacity, and there isn't a way to change that with CSS alone.

[2018-04-06 17:54] Napster2210 commented on #7
Why do you want to change opacity of inner elements? What's your requirement?

[2018-04-12 08:06] sudhakar-sekar commented on #4
Hi,
I am also facing same issue. I am using Angular 4.
I downgraded ngx-spinner from v1.1.0 to v0.1.7.
Still I am facing same issue?

[2018-04-16 12:46] Nhilo94 commented on #4
i'm facing the same issue too

[2018-04-16 12:59] Napster2210 commented on #4
I'm working on downgrading the version of Angular. Will release in few days.

[2018-04-21 00:19] BahgatMashaly opened #8 "i use one spinner for all pages in my project, how to change options"
Hello Napster2210,

could you provide a way to change the spinner options from the ngx-spinner.service.ts ,  i use one element in app.componant.ts  .
 i show and hide it from any page , but the problem that i need to change some options from other pages.

[2018-04-21 16:32] jffribeiro opened #9 "Dependency error when installing on Angular 5.2.9"
Hello,

The ngx-spinner version 1.1.0 should work on Angular 5.2.9 ?

$>npm install ngx-spinner@latest --save
npm WARN ngx-spinner@1.1.0 requires a peer of @angular/core@^4.0.0 but none is installed. You must install peer dependencies yourself.

"dependencies": {
    "@angular/animations": "^5.2.9",
    "@angular/common": "^5.2.9",
    "@angular/compiler": "^5.2.9",
    "@angular/core": "^5.2.9",

[2018-04-21 18:55] Napster2210 commented on #8
Which options do you want to change? @BahgatMashaly Can you please tell me your scenario?

[2018-04-21 20:38] Napster2210 commented on #4
Hello @lesiba7 @knehez @SanchitSahu @Darkheir @Pescu @Nhilo94 @sudhakar-sekar @Viveckh @bradleyquinn ,
Can you guys please try version V1.2.0([https://www.npmjs.com/package/ngx-spinner](https://www.npmjs.com/package/ngx-spinner)) and let me know if its working for you or not?
I have downgrade all the Angular dependencies to v4.

[2018-04-21 20:42] Napster2210 commented on #7
Will try to figure it out and release it as soon as possible.

[2018-04-21 20:43] Napster2210 commented on #5
@enniob Working on it will release as soon as possible.

[2018-04-21 20:44] Viveckh commented on #4
@Napster2210 Give me a few minutes, let me test that out real quick. Fingers crossed, hope all goes well.

[2018-04-21 20:45] Napster2210 commented on #9
@jffribeiro Currently I'm working on the v4 related issue, will release another version with the latest version of Angular as soon as possible.

[2018-04-21 21:29] Viveckh commented on #4
UPDATE: Great news everyone. Release 1.2.0 works on Angular 4 now. I just tested it within a modular application, along with A-LOT compilation, and everything went smooth. @Napster2210

[2018-04-21 21:38] Viveckh commented on #8
I think being able to change values like "loading text" would be quite useful. Since a user would want that to display relevant information across the pages whereas the spinner's theme in general remains the same.

[2018-04-21 22:17] enniob commented on #5
Cool thanks for the update.

[2018-04-22 07:16] rspl-yuvraj commented on #4
@Viveckh thanx for the update. Let's wait some other users, once they tested form their end I'll close this issue and work on some new features.

[2018-04-22 11:50] BahgatMashaly commented on #8
@Napster2210  i use one ngx-spinner  tag in my project , i put it in app.componant.html  and use static service  to show spinner  automatilcally with  every service call .   i need to pass some options like text when show spinner

[2018-04-23 06:59] Napster2210 commented on #4
@Darkheir Thanx for your suggestion. It helps me. Will close this issue in next 2 days.

[2018-04-23 13:06] jffribeiro commented on #9
Tks, @Napster2210!

[2018-04-24 11:54] Pescu commented on #4
@Napster2210  thanx for the update, now works on angular 4.

[2018-04-25 14:41] #4 closed

[2018-04-28 11:26] Napster2210 commented on #9
@jffribeiro Can you please check again the same with the latest version(**v2.0.0**)?

[2018-04-29 14:30] rspl-yuvraj commented on #7
@dgpuranik demo still uses the older version of spinner. I'll update the demo in next 2 days. Will update the same on npm page.

[2018-04-29 14:39] dgpuranik opened #10 "Spinner icon is not "hidding""
Hi,

I am showing the spinner. Processing HTTP requests and then hiding spinner. I show alert box after hidding the spinner but alert box show up before hidding the spinner.

Template code

[code]

Component code:

[code]

[2018-05-01 15:15] weijyewang commented on #6
Hi @ladkatprashant55  i got the same error, how did u resolve it?

[2018-05-01 20:10] Napster2210 commented on #7
@dgpuranik I have updated the demo as well as NPM page.

[2018-05-01 20:10] #7 closed

[2018-05-02 03:42] vietson opened #11 "'ngx-spinner' is not a known element"
When runtime, my app throw this message at console :
'ngx-spinner' is not a known element:
1. If 'ngx-spinner' is an Angular component, then verify that it is part of this module.
2. If 'ngx-spinner' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message. ("
            </div>
        </div>
        [ERROR ->]<ngx-spinner bdColor

[2018-05-02 04:16] Napster2210 commented on #11
@vietson  post your app.module.ts code here

[2018-05-02 04:37] vietson commented on #11
Thanks for your reply
I resoled it
Thanks !

[2018-05-02 04:37] #11 closed

[2018-05-02 04:37] Napster2210 commented on #6
@weijyewang `ngx-spinner` is a custom element, so in this case, if you add `<ngx-spinner>` in your HTML file then you have to add `**CUSTOM_ELEMENTS_SCHEMA**` to your app module.

`
import { NgModule, **CUSTOM_ELEMENTS_SCHEMA** } from '@angular/core';
-
-
-
@NgModule({
// ...
  **schemas: [
    CUSTOM_ELEMENTS_SCHEMA
]**
})
`

[2018-05-02 06:42] ladkatprashant55 commented on #6
no I have used another spinner component

On Tue, May 1, 2018 at 8:45 PM, Wei-jye Wang <notifications@github.com>
wrote:

[2018-05-09 21:47] waguirre opened #13 "Angular 6 Support"
In angular 6 with rxjs 6 fix.

[2018-05-11 16:06] dn-medroom commented on #13
I made a pull request converting...let me know if it helps

[2018-05-12 18:06] Napster2210 commented on #13
@dn-medroom I have tried your PR it generates build successfully but when I tried to use `ngx-spinner` in my test project, it can't find `rxjs/operators.js`(shows 404).

[2018-05-12 18:06] Napster2210 commented on #13
The solution for the same will be appreciated, thanx in advance.

[2018-05-17 05:25] ashankasr opened #14 "Configurable z-index of the black-overlay"
Is it possible to expose the  `z-index` css property for configuration in `ngx-spinner` ?

[2018-05-21 19:55] Napster2210 commented on #14
@ashankasr Why do you want `z-index` to expose? Let me know if I can help you another way.

[2018-05-22 11:28] iamsaikat commented on #13
have you tried this in the root project
 `rxjs-5-to-6-migrate -p src/tsconfig.app.json`

[2018-05-23 09:42] ashankasr commented on #14
I have a status bar in the bottom of the screen which maintains what's happening in the background while the black-overlay on top of it. Problem is black-overlay distracting the content of the status bar. So I want black-overlay to have a lower z-index than the status bar.

[2018-05-23 09:53] ashankasr commented on #14
Anyways I was able to configure my status bar z-index to more than black-overlay z-index which is actually fixing my issue. But I would like to see black-overlay to have a configurable z-index might be very usualful for other scenario.

[2018-05-23 09:53] #14 closed

[2018-05-24 03:52] arimus commented on #13
FWIW, the patch did work for me as well, but I still needed to make a tweak to the gulpfile to build successfully without errors.

[code]

...else I got the following error. Looks like it's due to the new angular versions. Probably another way to resolve, but modifying the ngc() call above got me building.

[code]

[2018-05-24 05:12] Napster2210 commented on #13
@iamsaikat `rxjs-5-to-6-migrate` doesn't work for me

[2018-05-24 05:13] #9 closed

[2018-05-24 07:02] arimus commented on #13
@Napster2210 I actually cloned from @waguirre 's repo, but I did a diff and it looks like the same things are in the pull request. I didn't have to run rxjs-5-to-6-migrate. I just:

- git clone
- npm install
- made the one change above for gulp
- gulp compile
- copied over the new files into existing project with angular 6

Everything is working for me. Let me know what issue you are having and I

[2018-05-24 07:08] iamsaikat commented on #13
@Napster2210 please check the pull request. Let me know if it will work or not .

[2018-05-24 11:57] Feroz-Istar opened #16 "How to use multiple ngx-spinner object on single page"
How to use multiple ngx-spinner object on single page. how can i show/hide  each one of the using view child

[2018-05-24 21:06] Napster2210 commented on #16
@Feroz-Istar There is no such kind of functionality, but thanx for the suggestion. Will come up soon with the solution.

[2018-05-24 21:06] Napster2210 commented on #10
@dgpuranik Can you please create codepen for the same?

[2018-05-24 21:09] Napster2210 commented on #13
@iamsaikat In your PR, still facing the same issue.

[2018-05-24 21:10] Napster2210 commented on #13
Currently, working on the major update will come up with major changes and some cool features with Angular 6 support. Thanx for using `ngx-spinner`

[2018-05-25 01:19] arimus commented on #13
Just a note that it would be nice if we could get this patch merged without any additional major changes, so that we can get unblocked on upgrading to Angular 6 without having to also re-factor the way we use ngx-spinner...unless the usage itself is close to the same and are forthcoming?

We're currently creating our own build with the changes in this pull request and using that local tarball depe

[2018-05-26 09:19] Napster2210 commented on #13
@waguirre @dn-medroom @iamsaikat @arimus Resolved issues for the same. Published the latest version of `ngx-spinner` on npm([v6.0.0](https://www.npmjs.com/package/ngx-spinner)). Please check it out and thanx for your support.

[2018-05-26 09:19] #13 closed

[2018-05-26 10:35] arimus commented on #13
:+1: I'll take a look after the weekend. much appreciated.

[2018-05-26 14:34] iamsaikat commented on #13
Thanks, will check tonight 👍

[2018-05-29 03:36] vietson opened #17 "How to customize image of spinner ?"
hello !
I can customize image of spinner ?

Thanks !

[2018-05-29 22:18] Napster2210 commented on #17
@vietson There is no such functionality to use image as spinner. I'm using just HTML & CSS for spinner. So you can not use custom spinner as of now, you have to choose one of that 50+ spinners. You can find list of spinners in [Demo](https://napster2210.github.io/ngx-spinner/).

[2018-05-29 22:18] #17 closed

[2018-05-29 22:21] Napster2210 commented on #10
@dgpuranik Any updates on this? I'll close this issue in next 2 days let me know if you're still facing this issue.

[2018-05-30 01:34] vietson commented on #17
Thank for your reply
I'm understand !

[2018-06-06 12:39] sudhakar-sekar commented on #4
@Napster2210 Thanks for the update.

[2018-06-18 14:30] AhmedMohamed1110 opened #18 "customize loading text"
how to customize loading text  as using multiple lines with different classes and tags of HTML and using icons
example:
loadingText:"loading"
I want to write multiple lines with different classes and tags of HTML as:
< h1 >loading ...< h1 >
< span > please wait < br/ > .......</ span >

[2018-06-18 15:00] Napster2210 commented on #18
Currently it supports string only, for your requirement I have to give support of html as input.

[2018-06-18 15:10] AhmedMohamed1110 commented on #18
okay thank u , but do u have any idea for making break line between strings without using a <br> element inside loadingText?

[2018-06-20 10:37] akshaypitale opened #19 "How to add gif instead of load Awesome spinner"
Hi ,

How can I add gif instead of load awesome spinner.

![image](https://user-images.githubusercontent.com/23078428/41653520-f132f2b4-74a3-11e8-8a37-a9a6a4469e25.png)

[2018-06-20 10:47] Napster2210 commented on #19
@akshaypitale currently it supports only load awesome spinners, will add support of GIF in future.

[2018-06-22 04:03] jbchan07 opened #20 "Spinner with Indeterminate time"
I did not find a way to use the ngx-spinner for indeterminate time. API response time, in development env, is unpredicatable and I need a way for the spinner to stop immediately after receiving the response. Please suggest.

[2018-06-22 04:05] Napster2210 commented on #20
You can use async await for that

[2018-06-24 15:08] AhmedMohamed1110 commented on #18
????????

[2018-06-24 15:44] Napster2210 commented on #18
I'm not sure but may be using "\n" you can achieve this.

[2018-06-26 13:50] raj111 opened #21 "Interceptor Implementation"
Hi,

When will be this feature available? Is there any specific time frame.

Thanks.

[2018-06-26 14:03] Napster2210 commented on #21
Hopefully in next 10-15 days

[2018-06-26 17:37] Napster2210 commented on #20
@jbchan07 Can you please share your code snippet?

[2018-06-26 17:38] Napster2210 commented on #18
@AhmedMohamed1110 Above thing is working for you?

[2018-06-26 18:32] #19 closed

[2018-06-26 18:32] #10 closed

[2018-07-05 02:16] Et3rnal commented on #21
Glad I saw this before I look alternative 💃

[2018-07-10 13:33] AhmedMohamed1110 commented on #18
no

[2018-07-10 13:34] AhmedMohamed1110 commented on #18
@Napster2210  no

[2018-07-10 13:44] Napster2210 commented on #18
@AhmedMohamed1110 Then I have to look into it. Maybe new feature.

[2018-07-11 12:32] AhmedMohamed1110 commented on #18
@Napster2210  OK, I will wait you

[2018-07-17 00:29] Et3rnal commented on #21
Any news on thins?

[2018-07-18 15:49] emouawad opened #22 "ExpressionChangedAfterItHasBeenCheckedError"
NgxSpinnerComponent.html:1 ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'ngIf: false'. Current value: 'ngIf: true'.
    at viewDebugError (core.js:7386)
    at expressionChangedAfterItHasBeenCheckedError (core.js:7374)
    at checkBindingNoChanges (core.js:7476)
    at checkNoChangesNodeInline (core.js:10337)
    at checkNoC

[2018-07-24 07:02] Amit18Singh opened #23 "increase text size"
how to increase size of loadingText??

[2018-07-24 15:14] byhoratiss commented on #5
Any updates on this issue? This is the only issue that does not allow me to use this awesome spinner.

[2018-07-25 04:08] Amit18Singh commented on #23
i'm using it in typescript but its not working for me
can you tell me how yo use your css in it

<ngx-spinner class="black-overlay"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  [loadingText]="loadingtext"
  type="ball-scale-multiple">
</ngx-spinner>

.black-overlay > p {
  font-size: 35px;
}

[2018-07-25 09:28] maku opened #24 "Size of ngx-spinner in bundle"
In my current project I determined the size of the libraries used in the delivery package.  (Build with angular cli 6.0.x -> ng build --prod)

I realized that ngx-spinner has a size of 454.6 KB (ngx-spinner.ngfactory.js.pre-build-optimizer.js: 240.63 KB, ngx-spinner.umd.js_ 212.62 KB)

This seems really big.
So my question:  is this stuff really needed for delivering?

[2018-07-25 10:03] nishit-rspl opened #25 "Ignore loading Bar in some backend calls"
Need a new feature to ignore loading bar in some request, where response time is too less.

Real case scenario : we make lookup service call to backed for drop downs, so when we edit a letter it again call the service an at times, response is quite fast this creates flashy screen and user experience is not ver good

[2018-07-25 10:13] rspl-yuvraj commented on #24
@maku  The library contains so many CSS classes because all the spinners are created using HTML and CSS only. There is no any other dependencies to generate spinner. But, thanx for the point I'll try to reduce an overall size of library in next release.

[2018-07-25 10:16] rspl-yuvraj commented on #23
@Amit18Singh  Try to override my class like this:
`.black-overlay > p {
font-size: 35px;
}
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
[loadingText]="loadingtext"
type="ball-scale-multiple">
`
Let me know if it works for you.

[2018-07-25 10:17] maku commented on #24
@rspl-yuvraj Thank you very much for your effort. Maybe it would be an option to define which kind of spinner you want with an import or something else.  From my point of view, I use exactly one kind of spinner per app... So to have all available spinners in the distribution is really not necessary. Thx

[2018-07-25 10:21] rspl-yuvraj commented on #22
@emouawad It happens if a value of `p` has been changed immediately. You can use any lifecycle hook of Angular or you can use some delay `setTimeout()`(weird hack).

[2018-07-25 10:23] rspl-yuvraj commented on #5
@enniob @ChristianHardy @byhoratiss I'm going to start work on this in next few days due to the busy schedule. Will let you know guys once I have done.

[2018-07-25 10:31] rspl-yuvraj commented on #24
@maku Thanx for the views. I'll try to find some way to import CSS class for that. I'm using some classes for each spinner(50+ spinners). Do you have any idea how can I import specific class for particular spinner type?

[2018-07-25 10:47] nishit-rspl commented on #22
@emouawad this should work fine with production build

[2018-07-25 10:51] nishit-rspl commented on #22
@rspl-yuvraj i get below error in my local environment which suggests that this needs to be fix in component. I do not get this error on production build
![image](https://user-images.githubusercontent.com/27686506/43196743-971f27a4-9026-11e8-8b84-f0122371a29d.png)

[2018-07-25 10:56] rspl-yuvraj commented on #22
@emouawad @nishit-rspl  The issue has been already logged in Angular itself:
https://github.com/angular/angular/issues/17572
You can find possible solutions.

[2018-07-26 08:00] rspl-yuvraj commented on #23
@Amit18Singh You don't need to change in `node_modules`, just write that CSS class in your component's CSS(maybe `app.component.css`)

[2018-07-26 08:52] Amit18Singh commented on #23
its not working for me if i'm writing it in my css file.

my html:
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" [loadingText]="loadingtext" type="ball-scale-multiple">

my css:
.black-overlay > p { font-size: 35px; }

[2018-07-26 09:42] maku commented on #24
I have to admit that I don't have a good answer for this question (especially with the approach you use now -> using styleUrl in NgxSpinnerComponent and ViewEncapsulation.Emulated).

It seems clear that the css definition has to be separated for every spinner type. Then we would need a mechanism to load only the css for a certain spinner type. Maybe by a provider which has to be configured and in

[2018-07-26 10:38] marie-dk commented on #5
I use this workaround for now:
[code]
This way the spinner will only fill the DOM element you put it in.

[2018-07-26 15:17] Et3rnal commented on #23
Just find your style.css and put this code inside it
.black-overlay > p {
font-size: 35px;
}

Otherwise in your html page add the
<style>
.black-overlay > p {
font-size: 35px;
}
</style>

You better add it to your style file "style.css"

[2018-07-27 03:55] Amit18Singh commented on #23
after adding it into  "style.css" its working.
thank you! @Et3rnal @rspl-yuvraj

[2018-07-27 04:47] #23 closed

[2018-07-30 19:58] raj111 commented on #21
@Napster2210 Any update on this feature?

[2018-07-31 10:08] jobam opened #26 "Default visibility"
Currently the spinner is disabled by default.
You have to call <spinnerService>.show() action to show it.
But, in some cases, the service injection is too long and i want to show the spinner during this loading time.

**Add an optional attribute** to set the **default visibility** (at false by default).

Exemple
----------
[code]

[2018-07-31 20:38] JINDALG opened #27 "Customize size of loading Text"
Can we make the size of loadingText customizable, so that any one can increase/decrease the text size?

[2018-08-03 14:43] trueVitality opened #28 "good job! Need animations)"
Very well and affordable did. But it would be even better if you added animation and text editing, and thank you very much!

[2018-08-03 14:49] #28 closed

[2018-08-06 11:28] william-levi commented on #11
@vietson  how did you resolve it ?

[2018-08-06 11:33] william-levi commented on #11
@vietson  nevermind.. i have resolved it .. HAHAHA

[2018-08-07 01:29] vietson commented on #11
@william-levi Nice day !

[2018-08-07 14:52] rspl-yuvraj commented on #20
By using `async await` or using `Promise` you can handle this type scenario.

[2018-08-07 14:52] #20 closed

[2018-08-07 14:59] #22 closed

[2018-08-07 19:36] Napster2210 commented on #5
@enniob @ChristianHardy @byhoratiss @marie-dk This has been resolved and will be available in the current release([v6.1.1](https://github.com/Napster2210/ngx-spinner/releases/tag/v6.1.1))

[2018-08-07 19:36] #5 closed

[2018-08-07 19:37] Napster2210 commented on #18
@AhmedMohamed1110 This has been resolved and will be available in the current release([v6.1.1](https://github.com/Napster2210/ngx-spinner/releases/tag/v6.1.1))

[2018-08-07 19:37] #18 closed

[2018-08-07 19:39] Napster2210 commented on #27
@JINDALG Thanx for the PR. This has been done and will be available in the current release([v6.1.1](https://github.com/Napster2210/ngx-spinner/releases/tag/v6.1.1))

[2018-08-07 19:39] #27 closed

[2018-08-07 19:41] Napster2210 commented on #26
@jobam Is it feasible? Can you please explain your case in detail? It would be great if you can share your code snippet.

[2018-08-07 19:48] Napster2210 commented on #8
@BahgatMashaly @Viveckh I'm going to work on this in next few days and will be available in v6.2.0.

[2018-08-16 13:47] ARCHAMO commented on #8
Good morning.
I try to implement the component but by invoking this.spinner.show (); nothing is shown.

This in my packaje.json
![imagen1](https://user-images.githubusercontent.com/12633358/44212392-e195e780-a130-11e8-98b1-ef86743e4b96.PNG)
In the index.html I call my component.
![imagen2](https://user-images.githubusercontent.com/12633358/44212401-e6f33200-a130-11e8-89c6-21aa1e209218.PNG)

Inside

[2018-08-16 15:04] Napster2210 commented on #8
Hello @ARCHAMO ,
You're calling `<ngx-spinner>` in wrong file, put it that code in your `app.component.html`.

[2018-08-16 18:33] ARCHAMO commented on #8
Thank you very much. I served but placing the label in each of the html where I want to show also make an import in each module to which the component belongs

Existence of way to define it as GLOBAL and be able to call it from any component.

My application is modular, I have several modules that inside have components and I want to be able to call it from any side with a single definition of TAG

[2018-08-16 18:43] Napster2210 commented on #8
So in that case you've `app.component.html`right?
It works as GLOBAL. So just use this TAG in that file only even though modular structure it'll work. From any component you can hide/show spinner.

[2018-08-16 19:15] ARCHAMO commented on #8
Make your suggestion but clicking the button does not show the spinner. The only way to see it is if in the template of the component itself I put the TAG.
The problem is that if I implement it that way, the day I have to modify it will touch me in all the components and it is not the idea.

[2018-08-16 19:17] Napster2210 commented on #8
Can you please share your component code which contains button click event?

[2018-08-16 20:11] ARCHAMO commented on #8
**MY COMPONENT.TS**

import {Component, OnInit} from '@angular/core';
import {AuthService} from "../auth/auth.service";
import {GenerationExcelService} from '../../services/generation-excel.service';
import {GLOBAL} from '../../shared/global';
import {UTILS} from '../../shared/utils';
import {MethodApiRestService} from '../../services/method-api-rest.service';
import {ActivatedRoute, Router} from

[2018-08-16 20:17] Napster2210 commented on #8
Have you tried to import `NgxSpinnerModule` in `app.module.ts` ??

[2018-08-17 13:36] ARCHAMO commented on #8
I have it imported into the app.modulo.ts and the tag I have it in app.component.ts, but the call I do it in a different component example home.component.ts but it does not come out, the only way that it comes out is that the tag place it in the home.component.html.
Is that why I conclude that the tag should be placed in all the html that are needed? or there is some way that the tag is only one.

[2018-08-20 20:31] raydawg2000 opened #30 "Expression based show/hide instead of service based?"
Is it possible now, or in a future update, to have the ability to show/hide the spinner based on an expression evaluation instead of having to use the service?

Something like

So if it evals to true, then show otherwise hide.

Thanks
-Ray

[2018-08-20 22:33] phoude opened #31 "Overlay covering only part of the screen"
If the spinner is shown when at a bottom of a page then we only see part of it. It appears like the overlay will only cover the surface of the initial screen position. See https://stackblitz.com/edit/angular-9e6nmr

[2018-08-23 13:49] Augustus-Gabe commented on #31
I've worked around this problem changing the position from absolute to fixed in the
black- overlay class and placed it in my styles.css:

.black-overlay[_ngcontent-c5] {
    position: fixed !important;
}

This should be the default behaviour of the spinner overlay.

[2018-08-24 07:59] pairmix opened #32 "Using into http interceptors"
Hi there,
I don't know how to use it with interceptor.
Spinner never appears.

app.module.ts
[code]

interceptor.ts
[code]

app.html:
[code]

[2018-08-25 16:52] ghassen1khalil opened #33 "Unable to launch my app after adding NgxSpinner"
I installed the dependency and added NgxSpinnerModule to AppModule as decsribed in the guide but when I launch my application using npm start I get following error
<img width="635" alt="capture d ecran 2018-08-25 a 18 51 05" src="https://user-images.githubusercontent.com/2848689/44620619-dc0a7100-a897-11e8-99a8-eca82f237464.png">

[2018-08-25 17:01] Napster2210 commented on #33
Can you please post your `package.json`?

[2018-08-25 17:08] ghassen1khalil commented on #33
Here it is :
[code]

[2018-08-25 17:17] Napster2210 commented on #33
Package.json seems perfect, but I think it's due to any of the dependencies because I haven't use `Object(...)` in my code

[2018-08-25 17:18] Napster2210 commented on #33
It would be better if you can create `plunker` or any other similar

[2018-08-25 17:49] ghassen1khalil commented on #33
It's a bit complicated for me to go on plunker, If you want I can give you access to my bitbucket project :)

[2018-08-26 05:57] Napster2210 commented on #33
Okay that would be better

[2018-08-27 05:04] abdulbarik commented on #33
Any update on it, I am also getting same issue

[2018-08-27 18:42] Napster2210 commented on #33
@ghassen1khalil I have sent you a mail please check it out.

[2018-08-29 14:04] caioladislau opened #34 "Changing style after first use"
Hi!

I want to use the spinner (ngx-spinner v6.1.2 - [see](https://www.npmjs.com/package/ngx-spinner)) on a custom style on the **first loading** (loading my app first time). After this, I want use the same spinner on a **different style** (app is loaded, but I'm loading some data while I use the app).

Someone did it before? Some tip about the best way to do this?

I'm using Angular 6 on asp.net

[2018-08-31 16:37] danieldluyzo commented on #31
I tried this but it still covers only a part of the screen.
Any ideas ?

[2018-08-31 16:57] danieldluyzo commented on #31
Sorry, I was adding it to the component's css.

It does work on styles.css.

Thanks!

[2018-09-04 15:19] akki543 opened #35 "How to change position of spinner/loader?"
I have a page with a scroll-bar , so loader type is right at the bottom of the screen , how can i make it center aligned ?
I'm using spinner with angular 6.

[2018-09-05 07:47] HassanMoin opened #36 "Help needed, SyntaxError: Unexpected token <"
Hi, I must be missing out on something for this issue to be caused.
Using Angular 4

I get the following Error in Console when I import your NgxSpinnerModule  from ngx-spinner in app.module

[code]

This is my app.module
[code]

This is my package.json

[code]
And systemjs.config.js
I think the problem might lie in this file. Is there any declaration missing in systemjs.congfig.js ?

[code]

and t

[2018-09-05 08:07] shankesgk2 commented on #35
`.black-overlay` `position` should be `fixed`
![1536134744048](https://user-images.githubusercontent.com/8123290/45079707-cca3e700-b125-11e8-9da6-bf5190378cd9.jpg)

[2018-09-05 09:00] Napster2210 commented on #35
@akki543 @shankesgk2 You can overwrite `.black-overlay` in your `style.css`

[2018-09-07 14:40] alexandr-efimov commented on #16
any updates guys?

[2018-09-08 19:17] manish-devon commented on #33
@Napster2210 is this solved yet? it's bugging my code too

[2018-09-11 07:12] manish-devon commented on #33
@ghassen1khalil did you get your code working ? @Napster2210 any update ?

[2018-09-14 09:48] shree-houseology commented on #5
Can we get this feature for angular 5 version?

[2018-09-20 22:37] dayaki commented on #33
Am getting this error too. @Napster2210 @ghassen1khalil  any update? are you able to solve this?

[2018-09-21 12:32] alpeshvasani opened #38 "Not showing in Angular 6.1.3"
I am trying to use it in my Angular 6.1.3 project..but it is not showing with no errors.

[2018-09-26 09:23] m1a2n3o4 opened #39 "spinner not working in IE. and am using angular 6"
`ngx-spinner` is a custom element, so in this case, if you add `<ngx-spinner>` in your HTML file then you have to add **CUSTOM_ELEMENTS_SCHEMA** to your app module.

[code]

[2018-09-27 12:59] sathishkumar94 commented on #16
Hi Guys,

Its weird. Because, i want to use the spinner in multiple places which means, multiple api calls/pages. but dont have option to use multiple spinner.

Give me the update guys?

[2018-09-28 13:08] cyberundertakor commented on #39
Change this in package.json

    "ngx-spinner": "6.0.0",

[2018-10-03 09:46] HenryDewa opened #40 "Export 'defineInjectable' was not found in '@angular/core"
Hello,

The ngx-spinner latest version should work on Angular 5.2.6 ?
i found warn
WARNING in ./node_modules/ngx-spinner/fesm5/ngx-spinner.js
69:59-75 "export 'defineInjectable' was not found in '@angular/core'

Tks!
HENRY

[2018-10-03 09:52] #40 closed

[2018-10-03 11:55] HassanMoin commented on #36
Fixed this issue by registering the ngx-spinner in the systemjs.config.js file.

            'tslib': 'node_modules/:tslib/tslib.js',
            'ngx-spinner': 'node_modules/ngx-spinner/ngx-spinner.umd.js'

[2018-10-03 11:55] #36 closed

[2018-10-03 14:11] aviralar opened #41 "npm i ngx-spinner not working"
npm i ngx-spinner
npm ERR! Unexpected token < in JSON at position 14274

Here are the logs:
verbose stack SyntaxError: Unexpected token < in JSON at position 14274
13 verbose stack     at JSON.parse (<anonymous>)
13 verbose stack     at module.exports (C:\Program Files\nodejs\node_modules\npm\lib\utils\parse-json.js:3:15)
13 verbose stack     at BB.join (C:\Program Files\nodejs\node_modules\npm\li

[2018-10-06 05:07] aderenzis commented on #38
Try adding NgxSpinnerService to the providers in app.module.ts.

[2018-10-08 23:09] davidfindlay opened #42 "Feature Request: Only cover certain element"
It'd be great if there were a way to set the ngx-spinner to only cover a table that's loading for instance, rather than the whole page. If there isn't a way to do this now, could this please be added in the future?Thanks,

David

[2018-10-09 05:41] matzmz commented on #24
I have the same problem, the bundle is too big.
In order to enable the tree-shaking mechanism you could create a base-component (with the spinner logic) and the extend the base-component injecting the specific css (one for type).

Doing this I think that it will be possible to minimize the bundle size.

[2018-10-10 13:07] oleksii-pimenov commented on #33
Same error, any updates? @Napster2210 @ghassen1khalil

[2018-10-10 21:11] VSKerberos opened #43 "i0.defineInjectable is not a function"
I have a problem with spinner I have downloaded the package and implemented as shown below. But I get an error any help please.

Thanks.

![image](https://user-images.githubusercontent.com/13761813/46766070-8aa02f00-cce9-11e8-9a15-4bc8471b605b.png)

[code]
package.json

"dependencies": {
    "@angular/animations": "^5.2.0",
    "@angular/common": "^5.2.0",
    "@angular/compiler": "^5.2.0",
    "@

[2018-10-10 21:20] #26 closed

[2018-10-10 21:22] Napster2210 commented on #30
@raydawg2000 Currently there is no plan like this, and also it's not a good practice.

[2018-10-10 21:22] #30 closed

[2018-10-10 21:32] Napster2210 commented on #33
@ghassen1khalil @abdulbarik @manish-devon @dayaki @oleksii-pimenov For above issue you can refer this link: https://stackoverflow.com/questions/50374194/error-typeerror-object-is-not-a-function-using-angularfirestore-and-fire
It's not about `ngx-spinner` but issue is same.

[2018-10-10 21:33] Napster2210 commented on #33
Let me if this would help for you guys.

[2018-10-10 21:36] Napster2210 commented on #34
Currently there is no such kind of functionality available, if in future there is some plan like this will surely let you know.
Thanks.

[2018-10-10 21:36] #34 closed

[2018-10-10 21:37] #35 closed

[2018-10-10 21:39] Napster2210 commented on #38
@alpeshvasani can you please share your code snippet or `stackblitz` url for better understanding?

[2018-10-10 21:40] Napster2210 commented on #39
@m1a2n3o4 is it working for you now?

[2018-10-10 21:42] Napster2210 commented on #41
@aviralar it's not related with `ngx-spinner` module.

[2018-10-10 21:42] #41 closed

[2018-10-10 21:43] Napster2210 commented on #42
@davidfindlay have you tried to put `ngx-spinner` element in your table wrapper instead of `app.component.html`?

[2018-10-10 21:49] Napster2210 commented on #43
@VSKerberos why error shows `....../scripts/ngx-spinner.umd.js` it should be in `node_modules` rather than in `scripts` folder. And also you're using angular 5 and the version of `ngx-spinner` is compatible with angular 6.

[2018-10-11 05:42] VSKerberos commented on #43
@Napster2210 thank you for your answer, in system-config config file I mapped the scripts folder. It's also available in node_modules but it seems that main reason is you mentioned that Angular versions.

[2018-10-11 06:13] VSKerberos commented on #43
I have installed the specific version of package which is suitable with Angular 5 it resolves the problem.
Thanks.
npm install ngx-spinner@2.0.0

[2018-10-11 06:13] #43 closed

[2018-10-15 12:02] pavan6cs commented on #32
any update how can we use the spinner in error handle service .in my case i opened spinner in one home.component, when server error occurs im trying to hide spinner from app.component.ts.but it not working

[2018-10-16 14:51] pmeems commented on #42
I've got a similar question. I have a mat-card and the mat-content is retrieved from another REST, so it takes a few seconds before the data is shown.
It would be great if I could show one of your great spinners in the meantime.

On startup I also use your spinner, which works fine.

My code so far:
[code]

[2018-10-18 15:00] dayaki commented on #33
@Napster2210 followed the instructions contained in the link above, it all seem to be related to firebase and am not using firebase. Still facing same issue

[2018-10-19 09:08] lvndry commented on #6
It does't work
You should update your documentation

[2018-10-23 03:01] iamavieira commented on #8
@sahilkatia I also included a showcase on this PR. As soon as it gets merged(I hope, again), I'll set this showcase on stackblitz or plunker.

[2018-10-23 10:18] opunbuds opened #45 "Angular 7 support ?"
Just wondering if ngx-spinner is suport on angular 7 or not

[2018-10-23 11:04] segux commented on #32
Did you check if is creating more than one instance of singleton NgxSpinnerService?

[2018-10-23 11:08] segux opened #46 "[Feature] Custom icon or image to spinner."
Did you think to implement a parameter to add custom icon or image ?

[2018-10-24 07:54] ddanilovich commented on #32
It's look like next.handle(req) immediately emit an event and your spinner is closed. At least I had such a problem. Try this:

[code]

[2018-10-24 13:00] marie-dk commented on #45
I just upgraded my project from Angular 6 to 7 today, and it seems to work fine :-)

[2018-10-26 14:32] dpolicastro opened #47 "[Feature Request] Dynamic Loading Text"
I would like to know if it's possible to implement a feature where I can set the spinner text dynamically, for example:

### component.html
[code]

### component.ts
`this.spinner.show({ text: "Loading Profile Info..." })`

[2018-10-27 18:46] AdrianoOP commented on #10
I'm facing something very similar... can we re open this issue?

[2018-10-28 10:10] Napster2210 commented on #47
You can pass dynamic text like below:

<ngx-spinner>Any html dynamic content for loading text</ngx-spinner>

On Fri 26 Oct, 2018, 8:02 PM Denis Policastro, <notifications@github.com>
wrote:

[2018-10-29 05:35] Ardenexal commented on #45
the `package.json` file needs updating to remove the warning when doing a `npm install`

[2018-10-29 15:54] dpolicastro commented on #47
Imagine I have to show the loading spinner more them one time in the same component, in this case I don't want to create a new scope variable and change it's value everytime I want to show the spinner, gotcha?

[2018-10-29 17:49] aderenzis commented on #38
I'm using angular 7.0.0 and it works.

Version in package.json:     "ngx-spinner": "^6.1.2"

Html example

` <ngx-spinner
    bdColor = ""
    size = "default"
    color = "#ee7d06"
    type = "ball-8bits"

    <p class="py-3" style="font-size: 20px; color: white">Searching for a rival...</p>
  </ngx-spinner>

<button (click) ="show()"> Show </button>
<button (click) ="hide()"> Hide </button>

`

[2018-10-30 09:29] alpeshvasani commented on #38
@aderenzis  It worked.

[2018-10-30 12:23] amjadyahya commented on #38
My  configuration was wrong, it works now.

[2018-10-30 13:11] aderenzis commented on #38
Nice. Glad that works!

[2018-10-30 20:44] rspl-yuvraj commented on #47
@dpolicastro Yes, got it but there is no such plan. Thanx for the suggestion will think on it.

[2018-10-30 20:44] #47 closed

[2018-10-30 20:45] rspl-yuvraj commented on #46
@segux Currently there is no such plan but may be available in next major release.

[2018-10-30 20:45] #46 closed

[2018-10-30 20:52] rspl-yuvraj commented on #45
@opunbuds There are no such changes in Angular v7 that affects my module, so you can use the latest version `6.1.2`.
Make sure you're using proper update guide:
https://update.angular.io/

[2018-10-30 20:52] #45 closed

[2018-10-30 20:57] rspl-yuvraj commented on #42
@pmeems I'm working on multiple spinner support will be available in v7.

[2018-10-30 20:57] #42 closed

[2018-10-30 20:57] #39 closed

[2018-10-30 20:58] rspl-yuvraj commented on #38
Thanx @aderenzis

[2018-10-30 20:58] #38 closed

[2018-10-30 21:00] #33 closed

[2018-10-30 21:01] #31 closed

[2018-11-01 14:49] intellitour opened #48 "Support for Angular 7"
Please, add support for Angular 7.

[2018-11-02 07:58] sbley commented on #48
See #45

[2018-11-02 08:03] sbley commented on #31
[code]
does fix the spinner position to be centered on the screen. However, the loading text is not part of `.black-overlay`. That's why the loading text is not centered.

Hence, the loading text should be rendered as a child of `.black-overlay`.

[2018-11-07 17:49] l4cr0ss commented on #45
Echoing @Ardenexal please update the package.json file to remove the dependency warnings

[2018-11-08 12:16] pantonis opened #49 "Use as loader"
Hi,

Is it possible to use this as a loader for a specific section of my page (e.g table loading) and not the entire page which blocks?

Thanks

[2018-11-08 15:45] akshaybhagwat76 opened #50 "how to apply ngx-spinner to whole html page from another ts file"

[2018-11-09 08:00] vaibhavtaylor opened #51 "Spinner goes up on scroll"
hi,

i am trying to use the spinner service in my app. now what i have seen is that loader is full screen at first view but as the view scrolls down the spinner is stuck above it does not remains fix at on place.

the thing i say was the black-overlay class where position is set zero but as i make is fixed from chrome console it remains there as i scroll down.

can you help me out with this? how c

[2018-11-09 08:50] akshaybhagwat76 commented on #51
same issue!

[2018-11-13 18:04] VinitTomar commented on #51
I have fixed this issue please add me as contributor so that I can push my code.

[2018-11-13 18:38] VinitTomar commented on #51
Until pull request is merged, you can find a workaround here
https://stackblitz.com/edit/ngx-spinner-fix
demo:
https://ngx-spinner-fix.stackblitz.io

[2018-11-15 16:02] sampladoc commented on #6
You need to follow the same installation guide you did for app.module in the page.module

[2018-11-15 17:57] BruneXX opened #54 "Use an image for spinner"
Hi, Like as enhancement, will be great if we can add a custom gif image or icon to use for spinner.

[2018-11-16 16:43] stephenfourie commented on #51
@VinitTomar I tried your fix. It works to fix the display while the spinner is visible.

However, after calling .hide() the spinner is not visible but the overlay actually stays covering the content and you can't access any of the elements behind it. If you you use chrome dev tools and inspect element anywhere on the page, you'll see that the spinner still takes up full width/height and appears ab

[2018-11-16 17:13] VinitTomar commented on #51
@stephenfourie I have made necessary changes to my solution. Now it will work fine. Just let me know if you face any other problem.

[2018-11-19 16:42] romelgomez commented on #45
![screenshot from 2018-11-19 11-39-59](https://user-images.githubusercontent.com/2358251/48721515-14e48880-ebf0-11e8-95ec-142333660a3b.png)

Please update the package.json file

[2018-11-21 08:08] Ankit-Anchan commented on #5
How to use this feature? Cannot find anything related to it in the documentation.

[2018-11-21 08:47] goel-sunny commented on #50
Define the component in the app-component i.e. root component , and use it where ever you want to use just by injecting the **NgxSpinnerService** service.

[2018-11-21 18:22] alactic commented on #54
@BruneXX is right, please can we have this enhancement?

[2018-11-22 19:44] bkimminich commented on #48
It works on Angular 7 but it shows warnings:
[code]

[2018-11-23 12:51] atultherajput commented on #51
Yes, loading text is not fixed.

[2018-11-24 11:16] MrNuTruT commented on #51
when would it be patch? this is very annoying!

[2018-11-28 13:05] thangaprakashari opened #55 "waring in defineInjectable"
WARNING in ./node_modules/ngx-spinner/fesm5/ngx-spinner.js
69:59-75 "export 'defineInjectable' was not found in '@angular/core'
    at HarmonyImportSpecifierDependency._getErrors

[2018-12-04 14:30] KartikShankarappa commented on #8
Any update on this ?

[2018-12-04 14:31] KartikShankarappa commented on #16
Any update on this ?
I would really like to see this on stackblitz.

[2018-12-05 13:45] ashokv7s commented on #54
@BruneXX @alactic true! please!! this would be greatly helpful or if anyone knows to add assets/images to angular library ?

[2018-12-07 09:16] goel-sunny opened #56 "Not able to show the spinner from feature module ."
it is working fine when i call show() method on root module i.e. app-module .
(<ng-spinner> tag is define inside the app-root-component.html)

But in case of calling of from the feature module it is not showing the spinner .

[2018-12-14 10:00] khalilTN commented on #32
@ddanilovich did your sample work ? I'm facing the same problem.
The call of hide and show should be centralized

[2018-12-14 10:38] ddanilovich commented on #32
@khalilTN , I actually use something like this (almost the same as the previous example):

[code]

[2018-12-20 08:19] Lyd22 commented on #51
Loading Text moves with scroll

[2018-12-20 08:57] MrNuTruT commented on #51
https://github.com/amitmahida92/ng4-loading-spinner this work !

[2018-12-28 12:38] saeidzebardast commented on #5
How can I use it? There is nothing in the documentation.

[2018-12-28 13:06] Ankit-Anchan commented on #5
I have not.

[2018-12-28 20:31] pedroolimpio commented on #5
For me it works like this:

[code]

[2019-01-04 12:35] dpwadewilson opened #57 "Need Spinner With Close button At Top Right"
Need a close button at that top-right for close button over black-overlay.

[2019-01-11 00:19] AntoineJeanDev commented on #57
You can just add a button with (click) attribute right ?

[2019-01-11 17:22] kiskinvlad commented on #10
Same problem here. In my case when using spinner with ngb modal. When you triggering hide it takes some time to hide spinner in view. I'm trying to do something like:

In this case modal closed faster (strange) and then spinner stacks in view.

[2019-01-17 22:00] rodgerbrennan commented on #56
I have the same problem

[2019-01-17 22:40] rodgerbrennan commented on #51
Overriding the style in a way similar to @VinitTomar fix works

`.myspinner .black-overlay{
  position: fixed !important;
}`

[2019-01-23 20:58] Napster2210 commented on #48
@intellitour @sbley @bkimminich Coming soon... In few mins.

[2019-01-23 20:59] Napster2210 commented on #49
@pantonis Will be resolved in **v7.0.0**

[2019-01-23 21:03] Napster2210 commented on #51
@vaibhavtaylor @akshaybhagwat76 @shinigarek @gishan @VinitTomar @rodgerbrennan @stephenfourie @MrNuTruT @Lyd22 @atultherajput @loremipsum1011 Sorry for the inconvenience. The latest version with fixes + Angular 7 version will be released soon. So just wait for **v7.0.0**

[2019-01-23 21:04] Napster2210 commented on #54
@BruneXX @alactic @ashokv7s Thanx for suggestion, will work on this soon. Currently working on new release **v7.0.0**

[2019-01-23 21:07] Napster2210 commented on #57
@dpwadewilson Yes, you can a button on top of spinner overlay and handle the hide/show method of spinner on click of that button. Thanx @AntoineJeanDev

[2019-01-23 21:07] #57 closed

[2019-01-23 22:11] Napster2210 commented on #48
@intellitour @sbley @bkimminich The latest release is here [v7.0.0](https://github.com/Napster2210/ngx-spinner/tree/v7.0.0)

[2019-01-23 22:11] #48 closed

[2019-01-23 22:12] Napster2210 commented on #49
@pantonis Please check with the latest release [v7.0.0](https://github.com/Napster2210/ngx-spinner/tree/v7.0.0)

[2019-01-23 22:12] #49 closed

[2019-01-23 22:13] Napster2210 commented on #56
Please refer #50 for update.

[2019-01-23 22:13] #56 closed

[2019-01-23 22:14] Napster2210 commented on #55
@thangaprakashari @madhuri03 Please check with the latest release [v7.0.0](https://github.com/Napster2210/ngx-spinner/tree/v7.0.0)

[2019-01-23 22:14] #55 closed

[2019-01-23 22:15] Napster2210 commented on #51
@vaibhavtaylor @akshaybhagwat76 @shinigarek @gishan @VinitTomar @rodgerbrennan @stephenfourie @MrNuTruT @Lyd22 @atultherajput @loremipsum1011 Please check with the latest release [v7.0.0](https://github.com/Napster2210/ngx-spinner/tree/v7.0.0).

[2019-01-23 22:18] Napster2210 commented on #21
As of now you can find solution in #32

[2019-01-23 22:19] Napster2210 commented on #21
Please refer #32 for more update.

[2019-01-23 22:19] #21 closed

[2019-01-23 22:44] Napster2210 commented on #8
@iamavieira @sahilkatia @KartikShankarappa I'll review and merge it soon.

[2019-01-23 22:46] Napster2210 commented on #16
@Feroz-Istar @alexandr-efimov @sathishkumar94 @engemasa @KartikShankarappa I'll review @alexandr-efimov 's PR and merge it soon.

[2019-01-24 06:17] madhuri03 commented on #55
@Napster2210 Still getting the warning with V7.0.0. I am using angular V5.2.0.
My issue is gone by using ngx-spinner v2.0.0.

[2019-01-24 06:32] Napster2210 commented on #55
Yes, beacuse as I mentioned in README if you're using Angular 5.2 then you
should use v2.0.0

On Thu, 24 Jan, 2019, 11:47 AM madhuri03 <notifications@github.com wrote:

[2019-01-25 16:04] gab-palmeri opened #58 "How to put spinner in button?"
Hi, I would like to put the spinner in a button, or in a custom position (for example inside a div, ecc). I've tried putting the <ngx-spinner></ngx-spinner> inside my button, but it's still displaying on the center of the page, even with the fullScreen="false". How can I achieve this?

[2019-01-27 19:41] Napster2210 commented on #58
@gab-palmeri Can you please post your HTML code along with its CSS classes?

[2019-01-27 19:46] gab-palmeri commented on #58
I don't know if it's relevant, I just put your custom tag inside a button and then calles the .show() method, i haven't applied any relevant css to it

[2019-01-28 03:58] rspl-yuvraj commented on #58
@gab-palmeri Can you please put the spinner in one div with specific height and width just to check?

[2019-01-28 07:49] dbykadorov commented on #16
@Napster2210 thank you!

[2019-01-30 06:39] PaoloneM opened #59 "Using fullscreen=false fits whole module instead of parent div"
Ngx-spinner Version 7.0.0
Angular version: 7.2.2

Code in component template:
[code]

Expected behavior: spinner covering only the div containing my component.

Effective behavior: spinner covers the whole root module.

[2019-01-30 07:42] Napster2210 commented on #59
@PaoloneM Try to set fixed height and width to your div and check it again.

[2019-01-30 17:10] PaoloneM commented on #59
@Napster2210 thanks for your quick reply, I update my code setting fix height and width:
[code]
but the behavior doesn't change.

[2019-01-30 19:56] Napster2210 commented on #59
@PaoloneM That's weird, in my demo website it's working fine with that property. I'll find a workaround of this issue. As of now, just put below class to your CSS file:
`:host ::ng-deep .black-overlay{
  position: relative !important;
}`
which will fix your issue. (Dirty Hack!!!!!)

**Note:** You have to use `fullScreen` as `[fullScreen]="false"` as it's boolean not string.

[code]

[2019-01-30 20:34] PaoloneM commented on #59
This fixes it at all. No need to put div size or CSS hack.

My code above is derived from your live demo site "black div" where is shown the code of the config you select. There, the "fullscreen" setting is shown without square braces. Might be that it's a small documentation bug.

Thanks alot for your support.

[2019-01-30 20:34] #59 closed

[2019-01-31 02:33] iamavieira commented on #30
You may call the show() on ngOnInit() and remove the spinner component from DOM at your will with *ngif.

[2019-02-04 06:55] akash-potdar7 opened #60 "Separate spinners (distinct by ref)"
Usecase:
Currently most of us are using the spinner as a global spinner.
I want to use a spinner for certain scenarios, in various places, this spinner could be partly(in a card) used or fully, this is what the fullscreen is for.
Lets say the spinner service takes an argument id to trigger a desired spinner.

But the fullscreen is available on higher versions which aren't supported to angular 5

[2019-02-07 15:50] dfilho opened #61 "Loading icon top 60%"
Well, I need to set the top attr of .loading-text css class to 50% but if I try this in my code, this don't change. Could you help me to do this?

Sorry for the english

[2019-02-12 16:23] mchint01 opened #62 "Spinner backoverlay does not show on full screen on vertical scroll/modal"
Spinner backoverlay is not showing on full screen when page is vertically scrollable or has modals.

<ngx-spinner
  bdColor="rgba(222,223,215,0.8)"
  size="medium"
  color="#15135d"
  type="ball-atom"
  fullScreen="true"

How could we make spinner back overlay to show on entire page even when scrolled.

[2019-02-13 11:16] Bhuvn12 opened #64 "with div of *ngIf is not working"
I am new in angular and using ngx-sppiner for waiting. I am using this inside *ngIf block then it is not working.

[2019-02-15 19:51] bharat-dpd commented on #62
any solution? I am facing the same issue

[2019-02-18 18:36] sahanaprao commented on #50
Define Utils class file which will have **NgxSpinnerService** service injector. So create one function in Utils class for showing Spinner and another function for hide Spinner. Just call the respective Utils function of spinner wherever you want it.

[2019-02-19 12:37] umahesh98 commented on #62
I am also facing the same issue if i have more scroll able then the spinner is not covering entire screen
below link shows the exact issue
https://ngx-spinner-demo-3xerm6.stackblitz.io

[2019-02-19 14:42] bharat-dpd commented on #62
@umahesh98
I solved the same problem by using the latest version

with [fullScreen]="true"

[2019-02-19 15:08] mchint01 commented on #62
@bharat-dpd
Yes updating to version 7 fixed it. marking this ticket as closed.

[2019-02-19 15:08] #62 closed

[2019-02-21 15:46] Fletch1 opened #65 "Licence Clarification"
I would like to use the package, but would like to clarify the licence under which I can use it.  Please could you include a LICENCE file?

Thanks

[2019-02-26 18:23] Napster2210 commented on #65
@Fletch1 Added licence file now you can check at: https://github.com/Napster2210/ngx-spinner/blob/master/LICENSE

[2019-02-26 18:23] #65 closed

[2019-02-26 18:25] Napster2210 commented on #64
@Bhuvn12 Why you're using spinner inside `*ngIf` block? Can you please share your block of code with some details.

[2019-02-26 18:27] Napster2210 commented on #61
Have you tried to overwrite `.loading-text` class in your main css file(style.css maybe) using `::ng-deep`?

[2019-02-26 18:29] Napster2210 commented on #60
@akash-potdar7 I've to work on backward support for latest features.

[2019-02-26 18:31] #58 closed

[2019-02-27 08:13] Fletch1 commented on #65
Thank you, that's perfect

[2019-02-28 07:05] Bhuvn12 commented on #64
thanks you so much for showing interest but i resolved my problem already. i got my it. but if you still want to give me answer then tell me that why ngx-spinner is not working inside *ngIf. ? this is matter why am i using inside *ngIf? well thanks you again for response.

[2019-02-28 07:22] Napster2210 commented on #64
*ngIf won't render component in DOM unless and until your condition becomes
true. So when you call `this.spinner.show()` method from component,
`ngx-spinner` component should be rendered before that.

On Thu, 28 Feb, 2019, 12:35 PM Bhuvnesh Kumar, <notifications@github.com>
wrote:

[2019-03-05 07:26] jpike88 opened #66 "Promisify show and hide commands on service"
Would be nice for smoother modal transitions if show and hide are promises. Right now they aren't and if I try to show a mat-dialog too early after calling hide(), it glitches out for a split second and doesn't look good. Still works though

[2019-03-06 08:02] karincayazilim commented on #32
Is there any bi solution found?

[2019-03-07 04:04] jpike88 opened #67 "Change fadeIn/fadeOut duration, with promisified method that knows when animation is complete"
Change fadeIn/fadeOut duration, with promisified method that knows when animation is complete

[2019-03-15 10:48] FARHANE commented on #16
Any update ?

[2019-03-15 10:53] Napster2210 commented on #16
@FARHANE give me few days will release soon. Was busy in other stuffs.

[2019-03-29 20:01] michael-mckenna commented on #5
Disabling still does not work for me, using 7.0.

[2019-03-29 20:37] michael-mckenna commented on #59
@Napster2210 I copied your solution but to no avail. I even tried the dirty hack and my spinner was still full screen. If I set these values in developer tools it works, but I can't get fullScreen="false" to ever work in my project.

Developer Tools
[code]

[2019-03-29 20:41] michael-mckenna commented on #59
After an hour of debugging I figured it out right after sending that lol! I just took the ngx spinner out of the div it was in.

[2019-04-01 21:39] michael-mckenna opened #71 "Spinner doesn't fit parent div"
I checked out #59 and I'm still getting the error. I commented on it when I thought I got it working but turns out I didn't (so I'm making this issue).

I have linked my Stackblitz below. I am setting `[fullScreen]="false"`, so not sure what the issue is.
https://stackblitz.com/edit/ngx-spinner-demo-djzvfr

[2019-04-03 07:29] redo-X commented on #71
I have the same problem. Did some research and found out that the `position: fixed` is a problem here.

[code]

If I change the `position: fixed` to `position: absolute`, it works as expected.

[2019-04-05 08:52] JigneshPatel04 commented on #6
you used **shared.module.ts** then  used below code
import { NgxSpinnerModule } from 'ngx-spinner';

imports:[NgxSpinnerModule ]
exports:[NgxSpinnerModule ]

[2019-04-08 11:47] #16 closed

[2019-04-08 11:47] #8 closed

[2019-04-08 13:48] KartikShankarappa commented on #16
Can we get a demo if this functionality on Stackblitz ?

[2019-04-08 13:52] KartikShankarappa commented on #8
Can we get a demo if this functionality on Stackblitz ?

[2019-04-08 14:30] Napster2210 commented on #16
Working on examples right now you'll get it soon.

[2019-04-10 17:47] wizdow commented on #16
Any update ?

[2019-04-11 19:05] benjaminvazquez opened #72 ".show does not accept params"
I'm trying to use two insances of `ngx-spinner` but `this.show()` method expects 0 params.

This is what I'm trying to do:
[code]

[2019-04-11 22:05] Napster2210 commented on #16
@KartikShankarappa Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4

[2019-04-11 22:06] Napster2210 commented on #8
@KartikShankarappa Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4

[2019-04-11 22:08] Napster2210 commented on #72
@benjaminvazquez Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4
You can also find working examples in README.

[2019-04-11 22:09] Napster2210 commented on #71
@michael-mckenna @redo-X Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4

[2019-04-11 22:10] Napster2210 commented on #66
@jpike88 Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4. That resolves your issue.

[2019-04-11 22:10] Napster2210 commented on #67
@jpike88 Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4. That helps you to find work around.

[2019-04-11 22:12] Napster2210 commented on #64
@Bhuvn12 @Dk-Raziel Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4.

[2019-04-11 22:12] #64 closed

[2019-04-11 22:13] #66 closed

[2019-04-11 22:13] Napster2210 commented on #61
@dfilho Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4. That resolves your issue.

[2019-04-11 22:13] #61 closed

[2019-04-11 22:14] Napster2210 commented on #60
@akash-potdar7 Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4. That may resolved your issue.

[2019-04-11 22:17] Napster2210 commented on #50
@akshaybhagwat76 @goel-sunny @sahanaprao Check it out latest version: https://www.npmjs.com/package/ngx-spinner/v/7.1.4.

[2019-04-11 22:17] #50 closed

[2019-04-11 22:17] #60 closed

[2019-04-11 22:26] Napster2210 commented on #71
@michael-mckenna Your parent div should have `position: relative;`

[2019-04-11 22:30] Napster2210 commented on #71
@michael-mckenna I have updated your StackBlitz check this out: https://stackblitz.com/edit/ngx-spinner-demo-sip2tq

[2019-04-11 22:49] Napster2210 commented on #72
@benjaminvazquez Refer this: https://stackblitz.com/edit/angular-exgxk2

[2019-04-11 22:49] #72 closed

[2019-04-11 22:50] #71 closed

[2019-04-11 22:50] #67 closed

[2019-04-12 03:20] jpike88 opened #73 "Allow background to fade in/out"
The background shows without animation, it's jarring.. should be a way to configure fade animation with seconds to fade

[2019-04-12 03:36] akash-potdar7 commented on #60
Yeah.. Thank you so much

On Fri, Apr 12, 2019 at 3:47 AM Yuvraj Chauhan <notifications@github.com>
wrote:

[2019-04-12 08:08] redo-X commented on #71
Thanks mate! @Napster2210

[2019-04-12 11:39] tankejaures opened #74 "using [Fullscreen]="false" don't work"
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
  <div class="auth-box">
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading">Loading Awesomeness...</p>
    </ngx-spinner>
 </div>
</div>

auth-box it fix of height=400px;

[2019-04-14 20:15] AndyHaas opened #75 "OnInit not showing spinner"
I have in the NgOnInIt `this.spinner.show()` but for some reason it is not loading the spinner. I have a button that loads the spinner but not at the initial load of the page. Recreated on this demo

[Demo Recreated Issue](https://stackblitz.com/edit/angular-aftctt)

[2019-04-14 20:29] AndyHaas commented on #75
Got a working workaround for this.

In the NgOnInIt needed to do a timeout and then call show for the spinner

`        setTimeout(() => {
                this.spinner.show();
        }, 25);`

[Working Demo](https://angular-yw5ptp.stackblitz.io/#/)

[2019-04-14 20:39] AndyHaas commented on #75
I will eventually answer my question. So looking life cycle hooks I used ngAfterContentChecked() and this fires off the spinner with no errors

[2019-04-14 20:39] #75 closed

[2019-04-15 13:36] qiurenbo opened #76 "ngx-spinner can't be built."
When I run `npm run build:lib` in projects directory. It appeared `BUILD ERROR`:

Did I do something wrong?

[2019-04-15 13:45] rspl-yuvraj commented on #76
@qiurenbo It would be good if you share package json and some portion of code

[2019-04-16 00:30] qiurenbo commented on #76
rspl-yuvraj, thank you for your reply.

I git clone https://github.com/Napster2210/ngx-spinner.git.  And then I run `npm install` in the ngx-spinner directory.

I didn't change anything else. But when I run `npm run build:lib`  as mentioned in package.json. I meet this Error.

So the question is when you build the ngx-spinner by running  `npm run build:lib`, everything is ok?

![image](https://use

[2019-04-16 05:56] qiurenbo commented on #76
I think I know the cause of this problem. I use cnpm ( a package management tool from china) to install the dependencies.  It acts differently from npm.

Finally, when I change to use npm. Everything is OK,

[2019-04-16 05:56] #76 closed

[2019-04-16 07:03] Althain2 opened #77 "Remove !important from .black-overlay z-index"
Hello,

- The spinner class 'black-overlay' has set !important on z-index property.
- In my case the spinner is not used in fullscreen mode
The problem: The spinner's 'black-overlay' is shown over ngx-botstrap modal overlay.
How it should be: In this case the spinner's 'black-overlay' should be hidden behind ngx-botstrap modal overlay.

Suggested solution:
- Remove !important from z-index .black-o

[2019-04-17 08:47] rspl-yuvraj commented on #77
@Althain2 Thanx for the suggestion, I'm trying to put `z-index` as a @Input property so user can set whatever value they want.

[2019-04-17 09:05] rspl-yuvraj commented on #74
@tankejaures Can you please more details?
Which version of `ngx-spinner` you're using?
Which version of Angular you're using?
For Reference: https://stackblitz.com/edit/angular-7arfhb

[2019-04-17 13:03] Murena7 commented on #74
same issue:
Can't bind to 'fullScreen' since it isn't a known property of 'ngx-spinner'.

Angular 7.2.9
ngx-spinner: 7.1.1

[2019-04-17 14:23] tankejaures commented on #74
I am usign "ngx-spinner": "^7.1.4" and angular 7.1.4

[2019-04-18 11:38] Mynken opened #78 "Backdrop Opacity not working"
Even on this page https://napster2210.github.io/ngx-spinner/, when changing
Backdrop Opacity form 0.1 to 1 or 9999 no difference.

[2019-04-18 21:04] Napster2210 commented on #78
@Mynken It's DEMO issue, I have removed that property long back. Please refer [README](https://github.com/Napster2210/ngx-spinner/blob/master/README.MD)

![image](https://user-images.githubusercontent.com/17761063/56391154-6f3f4f00-624b-11e9-9bd2-20c92c002d19.png)

I'll fix it next release.

[2019-04-18 21:11] Napster2210 commented on #74
@tankejaures @Murena7 Your parent container(div) should have `position: relative;`

[2019-04-19 11:56] tankejaures commented on #74
@Napster2210 thank's it work

[2019-04-22 07:52] #74 closed

[2019-04-25 16:15] rabindranathfv opened #79 "not full screen width and heigh for spinner using A7"
i wantend to use your spinner with my interceptetor implementation and it works well but the spinner do not get 100% of the width and heigh of viewport...i see the syle in browser and u set with this styles
[code]
is good but if you need you make some scroll with spinner is loading you loose viewport, can you use width: 100vw; and height: 100vh; or setting up width and height via input?

really go

[2019-04-25 16:26] Napster2210 commented on #79
Have you tried to set [fullScreen]="true" property?

[2019-04-25 16:36] rabindranathfv commented on #79
@Napster2210 yes, but when i do scroll do not get full screen
[code]

[2019-04-25 16:37] Napster2210 commented on #79
Which version of "ngx-spinner" you're using?

[2019-04-25 16:47] #78 closed

[2019-04-25 17:00] rabindranathfv commented on #79
"ngx-spinner": "^7.1.1"  with angular 7

[2019-04-25 17:34] rabindranathfv commented on #79
Chrone last version - angular v7 - "ngx-spinner": "^7.1.1"
![image](https://user-images.githubusercontent.com/28325503/56755963-ba32f800-675e-11e9-830a-8a0738c4066a.png)

when i inspect apply those styles
[code]

[2019-04-25 17:46] Napster2210 commented on #79
@rabindranathfv There should be some inline properties as well:
[code]

[2019-04-25 19:12] rabindranathfv commented on #79
@Napster2210 another style is applied
[code]
is this for the version right?

[2019-04-25 19:15] Napster2210 commented on #79
Yes, please

[2019-04-25 19:34] rabindranathfv commented on #79
@Napster2210 updated but still not working well and still have the same styles i told U before updated

[2019-04-25 20:18] Napster2210 commented on #79
Position should be fixed not absolute

[2019-04-25 21:12] chrismclellen commented on #79
I'm on `7.1.4` and having the same issue.

The inline styling is taking precedence and setting to absolute:

```<div _ngcontent-c9="" class="overlay ng-star-inserted" ng-reflect-ng-style="[object Object]" style="background-color: rgba(51, 51, 51, 0.8); position: absolute;">```

For whatever reason, this line is not working right in ngx-spinner.component.html:
`[style.position]="spinner.fullScreen

[2019-04-25 23:38] jamisonroberts opened #80 "Spinner doesn't show on ngOnInit as sample suggests"
There was an issue closed by the issue creator about two weeks ago (issue 75), however I wonder if there is an issue here after all, either with documentation or with actual implementation.

The spinner will not show if call is in ngOnInit.  Contrary to what worked for the fellow that created issue 75, neither of those solutions work for me either (ngAfterContentChecked or a very short timeout in

[2019-04-26 15:15] Gixen commented on #79
I'm also on ```7.1.4``` and having the same issue.

[2019-04-26 17:03] SuperPanBagna commented on #79
I use the latest version (7.1.4), with Angular 7.

![Captura de pantalla de 2019-04-26 12-10-17](https://user-images.githubusercontent.com/36860565/56823364-a4d2d200-6821-11e9-8e91-948cfce9486e.png)

The "overlay" class contains "position: fixed;".
But it's not applied because the style attribute in the same div :

 style = "background-color:rgba(51,51,51,0.44); position: absolute;"

As a temporar

[2019-04-27 13:22] jschoong970818 commented on #80
Same problem here. any solutions out there?

[2019-04-27 18:29] jamisonroberts commented on #80
This snippet does seem to work, but it doesn't exactly make me feel good to use it just because I can't be sure that this "fix" would work in all situations.

`setTimeout(() => this.spinner.show(), 25);
`

[2019-04-28 15:04] jschoong970818 commented on #80
Thanks so much! this works!

[2019-04-29 11:27] singhmohancs commented on #80
It is not working for me too. I found an alternate https://github.com/t-ho/ngx-ui-loader

[2019-04-29 11:57] rspl-yuvraj commented on #80
@jamisonroberts @jschoong970818 Marked as a bug will be resolved in next release.

[2019-04-29 12:00] rspl-yuvraj commented on #80
@jamisonroberts @jschoong970818 For a temporary workaround you can use `ngAfterViewInit` instead of `ngOnInit`.

[2019-04-29 12:03] rspl-yuvraj commented on #79
@rabindranathfv @SuperPanBagna @Gixen @chrismclellen Marked as a bug I'll look into it and fix will be available in next release.

[2019-04-29 22:33] jsebastianch commented on #79
I have the same issue any workaround?

[2019-04-29 23:56] chrismclellen commented on #79
@SuperPanBagna's css override worked for me.

[2019-05-02 05:21] jpike88 opened #81 "Relax peer dependency for angular/core v8"
Angular/core@8.0.0-rc-0 is out, would be good if this is tested and the peer dependency requirement relaxed.

[2019-05-07 10:06] holger-at-schottel-de opened #82 "Spinner spins forever if ChangeDetectionStrategy is OnPush"
Spinner spins forever if `ChangeDetectionStrategy` of a component is `OnPush`.

I addition to my [pull request](https://github.com/Napster2210/ngx-spinner/pull/68) I now provide a "real life" example (without using setTimeout) making a http request to a fake backend:
https://stackblitz.com/edit/ngx-spinner-change-detection-onpush

To see the problem just switch `changeDetection` in `AppComponent`

[2019-05-10 00:44] jschoong970818 commented on #80
Okie dokie, @rspl-yuvraj thanks a lot!!! that works!

[2019-05-10 07:00] himanshu2521992 opened #83 "spinner is not visible"
spinner is not showing when using in feature module. Had to roll back to 7.0.0, then it worked

[2019-05-10 20:56] pavankjadda commented on #80
I am facing a similar issue. Using workaround for the timebeing

[2019-05-11 11:40] aqib204 commented on #32
Instructions are not clear. Can someone please come up with a solution.?

[2019-05-13 08:30] brunano21 commented on #64
@Napster2210 I checked version 7.1.14 but I don't see a way to show/hide the spinner via template only, as @Dk-Raziel wanted (within a `*ngIf` block)

[2019-05-14 00:49] abnerey commented on #82
I'm not pretty sure about your issue, but probably it resides on the way you disable the spinner; if you are disabling it from a function which it's only called through the change detection system, that's definitely the problem. You can try putting a console.log on that place/function/whatever and see the console, if it's logging something, there is an issue with ngx-spinner, but if it isn't, ther

[2019-05-14 04:53] holger-at-schottel-de commented on #82
There are already console.logs in the code. Just have a look at it and you will see that the `show` and `hide` methods of `NgxSpinnerService` are called. Even though the `hide` method is called, the spinner does not get hidden.

[2019-05-14 06:08] abnerey commented on #82
Right, well, I can't test it right now, but I suspect about the ChangeDetectionStrategy.OnPush which the app.component has. Have you tried use hide on a lower component? (Using onpush)

[2019-05-14 06:14] abnerey commented on #82
Btw, I've made a library like ngx-spinner, it's called busyness and it does the thing you wanna do out-of-the-box (block on requests)

[2019-05-14 08:26] holger-at-schottel-de commented on #82
`NgxSpinnerService` is not called from within the app.component, but it's called from the http interceptor. The app.component just contains the `ngx-spinner` component.

[2019-05-14 08:28] holger-at-schottel-de commented on #82
Thanks for the hint, I will have a look into it.

[2019-05-14 22:25] sagius-li opened #84 "cannot bind with name"
in case of multiple spinners, i can assign a constant name to the spinner like
`<ngx-spinner name="sp1">`
and then show the spinner using show('sp1'). it works fine

but i cannot use data binding. i've tried,
`<ngx-spinner [name]="value">`
`<ngx-spinner name="{{value}}">`
`<ngx-spinner [attr.name]="value">`
none of them works. the first two even throw compile errors

[2019-05-16 18:24] Napster2210 commented on #81
@jpike88 Sure will release a new version `8.0.0` with all update dependencies and some new exciting new features as well

[2019-05-16 18:30] Napster2210 commented on #83
@himanshu2521992 Can you post a demo using [Stackblitz](https://stackblitz.com/)

[2019-05-17 04:58] himanshu2521992 commented on #83
Hi,
I am new to stackblitz, so i tried creating an app, but unable to show spinner.
https://stackblitz.com/edit/angular-n9fmxx
check the code, make it work then I'll show you the actual problem

[2019-05-17 05:06] himanshu2521992 commented on #83
https://stackblitz.com/edit/angular-n9fmxx
check here I tried to use it in test component and installed version is     "ngx-spinner": "^7.1.4",
and spinner is not visible when i am installing v.7.0.0 it is working properly. Why?

[2019-05-28 00:26] mersacs commented on #79
i have same issue,
@SuperPanBagna solution worked for me.

[2019-05-29 07:12] jpike88 opened #85 "Update to angular 8"
[code]

[2019-05-29 08:38] jpike88 commented on #85
@Napster2210 I've been using angular 8 since the first beta, this works fine on it

[2019-05-29 19:15] shubh9415 commented on #74
@Napster2210 Could you please give an example because I have tried this.
<div style="position: relative">
        <ngx-spinner name="sp1" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>  </div>

but still getting the error.
'Can't bind to 'fullScreen' since it isn't a known property of 'ngx-spinner''

[2019-05-30 05:04] jpike88 commented on #85
@Napster41 is anyone getting this??

[2019-05-30 15:30] fthiemonge commented on #83
I had a similar issue where it worked the first time (show() then hide()) but not on subsequent show() calls after that first hide() call. Downgrading worked for me as well. Tracing through the code I found in the 7.1.4 version that the "fullScreen" property was undefined the second time around though it was "true" the first time, so I believe that's getting unset somehow, perhaps in the "hide" ca

[2019-06-04 07:22] jpike88 commented on #85
@Napster2210 @rspl-yuvraj is this going to be sorted eventually??

[2019-06-05 15:40] tghkuma commented on #79
In this [line](https://github.com/Napster2210/ngx-spinner/blob/master/projects/ngx-spinner/src/lib/ngx-spinner.component.ts#L105), since `spinner.fullScreen` is updated even if undefined, fullScreen is treated as false.

[2019-06-06 14:59] danieldanielecki commented on #83
+1, had the same issue on 7.1.4, downgrading to 7.0.0 fixed the problem.

[2019-06-07 04:05] jpike88 commented on #85
Screw it... I'll use my own implementation

[2019-06-07 04:05] #85 closed

[2019-06-07 05:08] himanshu2521992 commented on #83
@Napster2210 See all are facing the same issue, and as I said, on downgrading its working properly.

[2019-06-12 14:18] elimin8r commented on #81
@Napster2210 any update on this?

[2019-06-12 14:33] Napster2210 commented on #81
@elimin8r I'll release new version in a week.

[2019-06-12 22:10] Napster2210 commented on #83
@himanshu2521992 @danieldanielecki @fthiemonge Working on this issue will release with Angular v8 in a week.

[2019-06-14 10:54] TdoubleG commented on #84
Hey @Napster2210 do you know when there will be a fix for this one?

[2019-06-14 10:56] Napster2210 commented on #84
@TdoubleG In next few days I'll release new version v8, in that it'll be resolved

[2019-06-21 09:10] lonix1 commented on #85
@jpike88 Please reopen, update to 8 still needs to be done...

[2019-06-21 10:17] jpike88 commented on #85
Maintainer is dead or stopped caring. I advise you fire up a matprogress and cdkoverlay instead and avoid this library

[2019-06-21 10:41] jbonet commented on #81
How is this going

[2019-06-21 10:49] Napster2210 commented on #81
@jbonet I need two more days for that due to busy schedule.

[2019-06-21 11:07] lonix1 opened #86 "Please upgrade to Angular 8"

[2019-06-24 05:04] TdoubleG commented on #84
Hey @Napster2210 is the fix already in the v8 branch? I really need it :)

[2019-06-24 14:34] rspl-yuvraj commented on #84
@TdoubleG Working on it will release this week.

[2019-06-24 14:35] rspl-yuvraj commented on #86
@lonix1 This week I'll release v8 with some major fixes and features.

[2019-06-25 05:25] TdoubleG commented on #80
@rspl-yuvraj the ngAfterViewInit throws an error:
[code]

[2019-06-26 15:03] FredeHo commented on #79
Custom class on ngx-spinner with "position: fixed !important" (with or without ::ng-deep) didn't work for me. No styles got applied. Even in app.component.scss. Only thing that fixed it, was
[code]

[2019-06-27 19:30] enniob commented on #54
@Napster2210 any update on this?

[2019-06-28 10:19] akash-potdar7 opened #87 "Subscribe to spinner state in ngx-spinner 7.x.x"
Angular 8.x
ngx-spinner 7.1.4

previously I used ngx-spinner 2
and I used to do this to subscribe to the state of the spinner `this.spinner.spinnerObservable.subscribe(state => {`
`      this.isLoading = state;`
 `});`

This worked since spinnerObservable wasn't a private variable.
But in new version of ngx-spinner(7.1.4) this is a private variable.

Question is what is the new/ updated view of su

[2019-06-30 19:48] Napster2210 commented on #87
@akash-potdar7 Why do you need state of spinner? Can you please let me know about your scenario?

[2019-07-02 14:17] TonyAdamo commented on #86
Hi @rspl-yuvraj, any update on this?

[2019-07-03 07:27] Napster2210 commented on #86
@TonyAdamo I was busy in my regular stuff but I'll try my best to deliver in this week.

[2019-07-03 11:50] lonix1 commented on #86
I also hate the "regular stuff" :rage:
I wish I could be here all the time, but that's life... :smiley:

[2019-07-04 12:37] TdoubleG commented on #84
Hey @rspl-yuvraj  maybe this week :D?

[2019-07-04 12:52] Napster2210 commented on #84
@TdoubleG This week :stuck_out_tongue_winking_eye:

[2019-07-07 23:07] Napster2210 commented on #79
@rabindranathfv @chrismclellen @Gixen @SuperPanBagna @jsebastianch @mersacs @tghkuma @FredeHo Can you guys please check the latest version **v8.0.1**?
https://github.com/Napster2210/ngx-spinner/releases/tag/v8.0.1

[2019-07-07 23:07] #79 closed

[2019-07-07 23:08] Napster2210 commented on #80
@jamisonroberts @jschoong970818 @pavankjadda @TdoubleG Can you guys please check the latest version **v8.0.1**?
https://github.com/Napster2210/ngx-spinner/releases/tag/v8.0.1

[2019-07-07 23:08] #80 closed

[2019-07-07 23:11] Napster2210 commented on #82
@holger-at-schottel-de @abnerey Can you guys please check the latest version **v8.0.1**?
https://github.com/Napster2210/ngx-spinner/releases/tag/v8.0.1
Feel free to create a new issue if you still face the same issue.

[2019-07-07 23:11] #82 closed

[2019-07-07 23:13] Napster2210 commented on #83
@himanshu2521992 @fthiemonge @danieldanielecki Can you guys please check latest version **v8.0.1**.
Feel free to create a new issue if you still face the same issue.

[2019-07-07 23:13] #83 closed

[2019-07-07 23:14] Napster2210 commented on #84
@sagius-li @TdoubleG Can you guys please check latest version **v8.0.1**.
Feel free to create a new issue if you still face the same issue.

[2019-07-07 23:14] #84 closed

[2019-07-07 23:15] Napster2210 commented on #86
@lonix1 @TonyAdamo It's done, check it out latest version **v8.0.1**.

[2019-07-07 23:15] #86 closed

[2019-07-07 23:16] Napster2210 commented on #87
No response after long time, closing the issue.

[2019-07-07 23:16] #87 closed

[2019-07-07 23:17] Napster2210 commented on #81
@jpike88 @elimin8r @jbonet Please check latest version **v8.0.1**

[2019-07-07 23:17] #81 closed

[2019-07-08 09:03] TdoubleG opened #89 "Typo in fesm5/ngx-spinner.js"
Currently there is a Warning which causes an error at the frontend:

WARNING in ./node_modules/ngx-spinner/fesm5/ngx-spinner.js 208:59-77
"export 'ɵɵdefineInjectable' was not found in '@angular/core'

Removing the 'ee' manually fixes the problem, but this won't work with CI.

[2019-07-10 11:42] roma2341 opened #90 "Two instances of MyComponent with spinner"
My main template looks like:
[code]
MyComponent template:
` <ngx-spinner name="spinner1"> </ngx-spinner>`

I want to show spinner with name "spinner1". But spinners are showed in both components (because names are same due to components are same) and i have to randomize spinners names to prevent such behaviour;

[2019-07-11 07:57] TdoubleG commented on #89
Seems to be a problem with Angular < 8.0. Used the spinner in Angular 7 and 8

[2019-07-11 08:07] Napster2210 commented on #89
@TdoubleG Maybe because I'm not facing issue with Angular 8+

[2019-07-11 08:09] TdoubleG commented on #89
Think so. But currently the Spinner is not usable for Angular 7 in an CI environment. Will there be a solution`?  Otherwise you need to update the readme that it's only for Angular 8+

[2019-07-11 08:10] Napster2210 commented on #90
Use @Input for your `myComponent` and pass the different name for spinner and use that name(your @Input property) as `[name]` in `ngx-spinner`

[2019-07-11 08:14] Napster2210 commented on #90
[code]

[2019-07-11 08:17] Napster2210 commented on #89
@TdoubleG I'll check with Angular 7 again if it's still not working properly I'll release separate version from Angular 7. But they should provide backward compatibility with Angular 8.

[2019-07-11 08:18] TdoubleG commented on #89
@Napster2210 Alright thank you :)

[2019-07-11 09:30] kiranhpe opened #92 "ngx-spinner not loading in lazy loaded components"
ngx-spinner loads fine in eagerly loaded components but not loading in lazy loaded components.

**In this case "User Component" were lazy loaded**

**app.module.ts**
![Capture](https://user-images.githubusercontent.com/22594383/61039256-0996d500-a3ec-11e9-9e38-b9cef6f0b72b.PNG)

**user.component**
![Capture1](https://user-images.githubusercontent.com/22594383/61039385-4367db80-a3ec-11e9-83e8-f931b

[2019-07-11 09:33] Napster2210 commented on #92
@kiranhpe You've to import `CUSTOM_ELEMENTS_SCHEMA` in AppModule as `ngx-spinner` is custom element.

[2019-07-11 09:45] kiranhpe commented on #92
@Napster2210 even after importing to AppModule getting the same error.
![Capture4](https://user-images.githubusercontent.com/22594383/61040664-a78b9f00-a3ee-11e9-9841-2dfc6cfc22b3.PNG)
![Captur5](https://user-images.githubusercontent.com/22594383/61040714-c0945000-a3ee-11e9-8b95-c3d83a94aa8b.PNG)

[2019-07-11 09:47] Napster2210 commented on #92
@kiranhpe Try to import in the module which contains your User component once and check it again.

[2019-07-11 09:52] kiranhpe commented on #92
@Napster2210 Thanks mate.. It's working now

[2019-07-11 09:52] #92 closed

[2019-07-11 09:57] Napster2210 commented on #25
@nishit-rspl added threshold in latest version so it won't be there anymore. Closing the issue as it's for older version.

[2019-07-11 09:57] #25 closed

[2019-07-11 09:58] Napster2210 commented on #54
@enniob I'm planning this in my next release.

[2019-07-11 12:46] holger-at-schottel-de commented on #82
Hi @Napster2210,
after upgrading the StackBlitz project to ngx-spinner version 8.0.1 and angular 8.1.1 it's working fine. I cannot check with our applications, because we are still on angular 7.2.x. I will check again after upgrading angular to version 8 or the issue https://github.com/Napster2210/ngx-spinner/issues/89 has been fixed.

Thanks for you work!

[2019-07-11 12:50] Napster2210 commented on #82
Thanx for supporting and using the package. @holger-at-schottel-de

[2019-07-12 04:12] elimin8r commented on #81
maybe im doing it wrong, but...
[code]

[2019-07-12 07:27] tundet commented on #89
Experiencing the exact same issue with Angular 6.

[2019-07-12 13:10] prasanna-5796 commented on #54
@Napster2210, can you let us know when will the next release, containing this enhancement be?

[2019-07-15 00:07] Bhavin3184 commented on #89
Experiencing the exact same issue with Angular 7.

[2019-07-15 09:06] Napster2210 commented on #89
@TdoubleG @tundet @Bhavin3184 I'll release new version by today which includes fixes for the same.

[2019-07-15 10:49] KishanIos007 commented on #90
what if I don't want to put HTML in my component and wanted to manage through service only. Just curious

[2019-07-15 12:17] rspl-yuvraj commented on #90
@KishanIos007 In that case, you can change options using service.
https://stackblitz.com/edit/angular-exgxk2

[2019-07-15 12:18] KishanIos007 commented on #90
Great Thanks man !

[2019-07-15 23:32] Bhavin3184 commented on #89
You are the life saver.....

Regards,
Bhavin Jadav.

[2019-07-16 05:31] msarsha opened #94 "Hide all spinners regardless of their name"
Hey,

Is there a plan to implement a way to hide all spinners?

[2019-07-16 19:17] Napster2210 commented on #89
@TdoubleG @tundet @Bhavin3184 I have checked the issue in detail, I come up with that it's due to Angular v8.
https://angular.io/api/core/defineInjectable
They have deprecated `defineInjectable` in v8 and replaced it with `ɵɵdefineInjectable` in compiled code. But that is not available in older version like Angular v6 and v7. That is the reason you guys are getting error with older version.

[2019-07-16 20:14] Napster2210 commented on #89
@TdoubleG @tundet @Bhavin3184 I have release two different versions:
For Angular 6/7: `7.2.0`
For Angular 8: `8.0.3`

[2019-07-16 20:15] Napster2210 commented on #90
Closing the issue due to inactivity.

[2019-07-16 20:15] #90 closed

[2019-07-16 20:18] Napster2210 commented on #94
@msarsha Thanx for the PR, but as of now no plan for this feature.

[2019-07-16 20:18] #94 closed

[2019-07-17 04:34] TdoubleG commented on #89
@Napster2210 works buddy, thank you :)

[2019-07-17 04:34] #89 closed

[2019-07-18 16:10] christianbaw opened #96 "ERROR Error: "Uncaught (in promise): TypeError: Object(...) is not a function"
I'm having this error when i try to use ngx-spinner. I'm currently using angular 7.3.8, I saw in other posts that firebase could be an issue but I'm not using it, anyone can point me in the right direction ?

[2019-07-19 03:07] Napster2210 commented on #96
@christianbaw Which version of `ngx-spinner`, you're using?

[2019-07-19 04:28] christianbaw commented on #96
@Napster2210 according to my package.json I'm using the latest version which it would be 8.0.3

[2019-07-19 04:40] Napster2210 commented on #96
@christianbaw for Angular 7 you've to use version `7.2.0`

[2019-07-19 05:07] Napster2210 commented on #96
https://github.com/Napster2210/ngx-spinner/blob/master/README.MD#whats-new

[2019-07-19 15:49] christianbaw commented on #96
@Napster2210 well that was awkward lol, sorry for not reading, is now working, thank you!!

[2019-07-19 15:49] #96 closed

[2019-07-21 10:10] lonix1 opened #97 "[Feature Request] Delay between spinner start and finish"
Suppose we have this (simple example, in reality we would use promises or rxjs):

[code]

If `doSomething()` finishes quickly, then the spinner isn't seen at all.

How can we force the spinner to start, delay for 2 seconds, and then do everything else?

Maybe there is an option in this library for "delayed start" or something like that?

[2019-07-21 10:14] Napster2210 commented on #97
@Ionix1 You want to perform some action after spinner start but before end? Can you please give me more details? One more thing both the methods `show()` and `hide()` are already promises, if it works in your case.

[2019-07-21 10:19] lonix1 commented on #97
I do something like this:

[code]

This way, if `doSomething()` is very quick, the spinner will still be shown for 2 seconds. Sometimes that is important for UX, so the user knows that something important is happening.

But it would be very nice if it were available in the library itself, e.g. `spinner.showAndDelay(2000)` or something like that...

[2019-07-21 10:24] Napster2210 commented on #97
Okay got it, I'll try to add dynamic delay input in next release

[2019-07-23 21:39] mslosarek commented on #83
This is still in issue in `"ngx-spinner": "^7.2.0"` and the version 8 of the library doesn't work with Angular 7

[2019-07-24 12:38] dkruchok commented on #73
Plz)
Add some smooth animation to show/hide the spinner and background)

[2019-07-24 15:37] shan75 opened #98 "Targetting to run within a dv"
Hi I am trying to use this and it is a very nice piece of work.  But I am trying to target to run within a small div.  It doesn't matter where I place the component, it runs for a whole div. Can't figure out how to do it.

For example, i want this to run within div with id="spinnerarea"  How to do it?

Thanks

[2019-07-24 19:49] Napster2210 commented on #83
@mslosarek Can please check version of `ngx-spinner` in lock file? And what's your Angular version?

[2019-07-24 19:53] Napster2210 commented on #98
@shan75 Check this out: https://stackblitz.com/edit/angular-7arfhb
Let me know if you want anything else.

[2019-07-24 19:59] shan75 commented on #98
Hi

Thanks for getting back.  I have seen this demo. But it is not working for me.

In my case,

 <div id="Area">
        <div class="center">
            <div id="spinarea">

            </div>
            <p class="loadingText">Loading STL Preview...</p>
        </div>
    </div>

Not sure whether I am making it clear

Thanks
Shan

________________________________
From: Yuvraj Chauhan <notificat

[2019-07-24 20:01] shan75 commented on #98
Hi

Even in your own demo,  I want to show spinner either in the header or just in the footer. Please refer below.  How do I achieve it?

<nb-layout center>
  <nb-layout-header>
  <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
          <p class="loading">Loading Awesomeness...</p>
        </ngx-spinner>

  </nb-layout-header>

  <nb-layout-column>
    <p>This is

[2019-07-24 20:06] Napster2210 commented on #98
Can you create a stackblitz demo? So I can help you in a better way.

On Thu, 25 Jul, 2019, 1:31 AM shan75, <notifications@github.com> wrote:

[2019-07-24 20:10] shan75 commented on #98
Hi Yuvraj

Just in your own example demo,   hwo do I make the spinner to display only in header?

That is my question

Thanks
Shan

________________________________
From: Yuvraj Chauhan <notifications@github.com>
Sent: 24 July 2019 21:06
To: Napster2210/ngx-spinner <ngx-spinner@noreply.github.com>
Cc: shan75 <shan75@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Napster2210/ngx

[2019-07-24 20:11] Napster2210 commented on #98
Okay let me try give me few minutes.

On Thu, 25 Jul, 2019, 1:40 AM shan75, <notifications@github.com> wrote:

[2019-07-24 20:18] Napster2210 commented on #98
@shan75 Got the solution, make sure you've set `position: relative` in your parent element.

[2019-07-24 20:21] shan75 commented on #98
Hi

I got it. Thank you very much

Shan
________________________________
From: Yuvraj Chauhan <notifications@github.com>
Sent: 24 July 2019 21:18
To: Napster2210/ngx-spinner <ngx-spinner@noreply.github.com>
Cc: shan75 <shan75@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Napster2210/ngx-spinner] Targetting to run within a dv (#98)

@shan75<https://eur02.safelinks.protection.ou

[2019-07-24 20:24] #98 closed

[2019-07-25 11:29] JFancis commented on #4
hello @Napster2210 i want to use ngx-spinner in my projet but
i have this probleme WARNING in ./node_modules/ngx-spinner/fesm5/ngx-spinner.js
208:59-77 "export 'ɵɵdefineInjectable' was not found in '@angular/core'.
My environnement is Angular 6 .
helpe me please ,thanks.

[2019-07-25 12:05] Napster2210 commented on #4
@JFancis which version of `ngx-spinner` you're using? You've to use `7.2.0`

[2019-07-27 08:33] lonix1 commented on #24
@matzmz Yes I think that is how other libraries handle this problem.

[2019-07-27 10:31] lonix1 opened #99 "[Question] Wrap component"
I'm still new to Angular so please forgive the newbie question.

I use this spinner everywhere:
[code]

It would be neater/simpler to do this instead:
[code]

Does someone know how to wrap it like this?

[2019-07-30 13:37] ikishanoza opened #100 "Uncaught TypeError: Object(...) is not a function"
I have install the lastest version but I have use in ionic which is based on angular so I though it must get worked but I am having this issue when I run the project.
[code]

here is my app module.ts

[code]

and in home.ts I have used as a service like you describe in doc but i am not able to run this

can you please help ?

[2019-07-30 18:26] Napster2210 commented on #100
@Kishanlos007 Which version of angular and ngx-spinner you're using?

[2019-07-30 19:11] macbird commented on #100
I have the same error, my angular's version is 7.0

[2019-07-30 19:21] Napster2210 commented on #100
@macbird if your Angular version is 7 then you've to use ngx-spinner 7.2.0

[2019-07-30 20:30] macbird commented on #100
thanks, it worked perfectly!

[2019-07-31 05:50] KishanIos007 commented on #100
okay let me try this vesrion..

[2019-07-31 05:59] KishanIos007 commented on #100
Nope not working still the same error

[2019-07-31 08:06] Devfdez commented on #81
@elimin8r I had these issues too but after upgrading to 8.0.3 the warnings resolved.

[2019-07-31 11:29] flowest commented on #100
@Napster2210

this version still has the [name] issue mentioned here:
https://github.com/Napster2210/ngx-spinner/issues/84

[2019-07-31 14:12] KishanIos007 commented on #100
any updates @Napster2210

[2019-08-01 10:03] itniels commented on #74
I also cannot set fullScreen="false" neither in HTML or in the `.show()` method.

[2019-08-01 15:10] flowest commented on #84
could this fix be added in a v7.* version, since v8.* doesnt work with an angular 7 app?

[2019-08-05 18:41] shan75 commented on #17
Hi, I am using this spinner in one of my project which is working great. Especially multi loader is perfect.  I can't figure out one particular thing. For example, you got size attribute which sets the size of spinner. It is small , medium, large etc... Unfortunately, small is too small or medium is too big for me.  I want the spinner size to be in-between.  I have have looked at the Load Awesome

[2019-08-06 11:03] shan75 commented on #84
Hi
I am using the latest version ie "ngx-spinner": "^8.0.3"
I have one new issue. I am binding the name using a variable. It seems to work fine. But I am loading multiple spinners to add one spinner in a row. For example there are five rows when page loads, the spinners are working in all five rows. But there will be add button which adds a new row , I can see the spinner is added to the dom but t

[2019-08-06 11:06] rspl-yuvraj commented on #84
@shan75 Can you try with different `changeDetectionStrategy` may `onPush`?

[2019-08-06 11:26] shan75 commented on #84
Hi

Thanks for getting back, but it doesn't seem to have any impact. I will setup online example and send it to you so easy to look at

Thanks
________________________________
From: Yuvraj Chauhan <notifications@github.com>
Sent: 06 August 2019 12:06
To: Napster2210/ngx-spinner <ngx-spinner@noreply.github.com>
Cc: shan75 <shan75@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Na

[2019-08-06 12:33] shan75 commented on #84
Hi

I have resolved this. We don't really need changeDetectionStrategy , it works even without that.

Regards
Shan
________________________________
From: Yuvraj Chauhan <notifications@github.com>
Sent: 06 August 2019 12:06
To: Napster2210/ngx-spinner <ngx-spinner@noreply.github.com>
Cc: shan75 <shan75@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Napster2210/ngx-spinner] canno

[2019-08-08 21:52] willyt150 commented on #32
We've wrapped the NgxSpinnerService inside a separate service that allows multiple things to say that we're busy and not hide the spinner until all of them say idle.
[code]

Then in the interceptor, it's exactly like @ddanilovich's [example](https://github.com/Napster2210/ngx-spinner/issues/32#issuecomment-447286099), we just pipe to finalize instead of tap. And you can further enhance your interc

[2019-08-19 11:24] sonalradical commented on #100
I am also getting same issue

[2019-08-22 23:14] romelgomez commented on #31
The simple spinner without custom settings.

[code]

Place this code in the DOM:

[code]

It's already has hardcoded set `position: absolute;` which rewrites position of  `.overlay` styles.

[code]

Notes:
- In large views the overlay only cover the half of the view.
- It work the first time, the second time is not.

[2019-08-28 09:25] BobNudd commented on #99
You'd ideally pass a configuration at the Module import, but this isn't supported. This would be fantastic especially for an interceptor implementation.

I personally control spinner through my components, and pass a static config depending upon the requirements of the spinner.

Example:

In component:

`this.spinnerService.show('user-edit-personal', SpinnerConfig.mediumBox());`

[code]

Then incl

[2019-09-05 07:31] flowest commented on #100
@Napster2210 please help us to solve 😃

[2019-09-09 16:57] jogHar opened #101 "view Warning after install ngx-spinner"
WARNING in ./node_modules/ngx-spinner/fesm5/ngx-spinner.js
208:59-77 "export 'ɵɵdefineInjectable' was not found in '@angular/core'

[2019-09-10 22:39] lukesUbuntu commented on #101
Will be your Angular version you should install ngx-spinner@7.2.0
What version of Angular are you using?

[2019-09-11 08:51] jogHar commented on #101
Thanks, @lukesUbuntu.

[2019-09-11 08:51] #101 closed

[2019-09-20 10:15] AdedejiAdelanwa commented on #6
Hi @kunleawotunbo  I tried this and didn't work, can you be more explicit as to where to add the codes above. Thank you

[2019-09-23 09:47] AhmadHassanAwan commented on #100
Thanks, this worked..

[2019-09-25 10:25] rajkumars22 opened #103 "hi this is very useful, we need to load text pass the parameter like a NgxSpinnerService.show()"
`ngx-spinner` is a custom element, so in this case, if you add `<ngx-spinner>` in your HTML file then you have to add **CUSTOM_ELEMENTS_SCHEMA** to your app module.

[code]

[2019-10-01 19:27] chaba87 opened #104 "ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'ngIf: false'"
On every page I put NgxSpinner I have this issue:
NgxSpinnerComponent.html:1 ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'ngIf: false'. Current value: 'ngIf: true'.
    at viewDebugError (core.js:20306)
    at expressionChangedAfterItHasBeenCheckedError (core.js:20294)
    at checkBindingNoChanges (core.js:20494)
    at che

[2019-10-04 14:18] gerard24 commented on #104
Angular can not always detect these conditions set during initialization.

Try this in your component:

[code]

[2019-10-18 06:11] vatsalpande opened #105 "Doesn't work if placed under ng-template"
I am trying to use this component under ng-template. As soon as I place it under ng-template it stops to work. If I move it out of it, it works.

https://stackblitz.com/edit/angular-mtbjhb?file=src/app/app.component.html

Is this by design? Is there any way to make it work with ng-template?

[2019-10-19 09:33] nadav96 commented on #73
No need for additions in the package, you can take advantage of Angular animations to achieve the desired behaviour:

[code]
[code]

and finally the animation:
[code]

[2019-10-23 11:56] rspl-yuvraj commented on #105
@vatsalpande
This is normal and it's the expected behavior. This is because with the `ng-template` tag you are simply defining a template, but you are not using it yet.

[code]

[2019-10-23 11:58] rspl-yuvraj commented on #104
@gerard24 Thanx for the answer, also here in `ngx-spinner` both the functions(`show/hide`) are the promises. So, you can handle that way as well.

[2019-10-23 11:58] #104 closed

[2019-10-23 12:02] rspl-yuvraj commented on #103
@rajkumars22 Can you please explain your requirement in detail? If you want dynamic **Loading Text**, then it's totally up to you. You can set dynamic text by putting some logic in your component.

[2019-10-23 12:05] rajkumars22 commented on #103
Ya yes. Loading Text dynamically - putting some logic in my component

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Yuvraj Chauhan <notifications@github.com>
Sent: Wednesday, October 23, 2019 5:32:58 PM
To: Napster2210/ngx-spinner <ngx-spinner@noreply.github.com>
Cc: Raj Kumar <raj@iresponsivesolutions.com>; Mention <mention@

[2019-10-23 12:21] rspl-yuvraj commented on #103
@rajkumars22 Let me know if I can help.

[2019-10-23 13:20] rspl-yuvraj commented on #103
@rajkumars22

1. Create one function in your component which handles your spinner's `show` method
2. Set one variable's value in the same function based on your requirement/condition
3. Then call `show` method of the spinner in the same function

[code]

[2019-10-23 13:20] #103 closed

[2019-10-23 13:23] rspl-yuvraj commented on #100
@ikishanoza @flowest Can you please reproduce the issue by creating [stackblitz](https://stackblitz.com/fork/angular)

[2019-10-23 13:35] rspl-yuvraj commented on #99
@lonix1 You can do like this:

[code]

[2019-10-23 16:27] #99 closed

[2019-10-24 03:41] rajkumars22 commented on #103
Ok thank you!. I will try and let you know.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Yuvraj Chauhan <notifications@github.com>
Sent: Wednesday, October 23, 2019 6:50:13 PM
To: Napster2210/ngx-spinner <ngx-spinner@noreply.github.com>
Cc: Raj Kumar <raj@iresponsivesolutions.com>; Mention <mention@noreply.github.com>
Subjec

[2019-10-28 18:09] ozzpy opened #106 "Expression has changed after it was checked."
Try open it on modal and this happens, the spinner works, but got this message.

ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'ngIf: false'. Current value: 'ngIf: true'.
    at viewDebugError (core.js:19629)
    at expressionChangedAfterItHasBeenCheckedError (core.js:19617)
    at checkBindingNoChanges (core.js:19833)
    at

[2019-10-29 06:33] flowest commented on #100
just created a stackblitz [here](https://stackblitz.com/edit/angular-xv7bvb) and noticed it works 🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️
noticed that i use version 7.1.4 in my project where the binding issue to naming exists...
i will update and check it on my side.

@rspl-yuvraj Thanks for bringing me to create a stackblitz! 😃

[2019-10-29 07:20] rspl-yuvraj commented on #100
@flowest Thanx for creating Stackblitz, it will be helpful for others as well. I'm closing this issue. Feel free to create a new one if you face anything.

[2019-10-29 07:20] #100 closed

[2019-10-29 07:24] rspl-yuvraj commented on #106
@ozzpy It is duplicated by #104
It's not the issue with `ngx-spinner`, but the Angular. Please check the above-mentioned issue for details.

[2019-10-29 07:24] #106 closed

[2019-10-29 07:25] rspl-yuvraj commented on #105
Closing the issue.

[2019-10-29 07:25] #105 closed

[2019-11-01 22:54] ohanasolucionesintegrales opened #107 "Multiple spinners at ngOnInit()"
I'm trying to show multiple spinners at the beginning of a component.
  ngOnInit() {
    this.spinner.show("spinner1");
    this.spinner.show("spinner2");
    ..
    this.spinner.show("spinnerN");
}
But it shows only the last one ("spinnerN"). Any ideas?.

[2019-11-03 13:54] vajohn opened #108 "Not sure if I should call it an issue"
Was wondering if there is a click to dismiss or a way to add a close modal button

[2019-11-05 21:31] tonycesar commented on #16
thanks  https://stackblitz.com/edit/angular-utwjxi

[2019-11-08 07:02] langebangen commented on #74
I have the same problem too. Whether i set position: relative on a parent div, set fullScreen on the component or with the spinnerservice, still it shows the spinner in full screen.

[2019-11-08 07:04] rspl-yuvraj commented on #74
@langebangen Can you please post your block of code here?

[2019-11-08 07:06] rspl-yuvraj commented on #74
@shubh9415 @itniels It would be helpful if you guys can create [Stackblitz](https://stackblitz.com/fork/angular).

[2019-11-08 07:07] rspl-yuvraj commented on #107
@ohanasolucionesintegrales Can you please create a [Stackblitz](https://stackblitz.com/fork/angular) for the same?

[2019-11-08 07:10] rspl-yuvraj commented on #108
@vajohn You can put a button over backdrop using some CSS tricks. On that button click, you can hide the spinner by calling the `hide` method.

[2019-11-08 07:13] langebangen commented on #74
I got it working now if i wrapped the ngx-spinner in a div. Thanks for the fast response anyhow!

[2019-11-11 14:42] Glamurio opened #109 "New spinner does not display after router.navigate"
Hey! Real big fan of this spinner thing, however, I'm running into the following issue.

When using the spinner it's working just fine, but I am using

[code]

to route to a different component in my application after it's done loading.

Afterwards, when trying to render another spinner via the service in the new router location, it simply does not show, no errors, nothing. It shows the `<ngx-spin

[2019-11-11 14:58] Glamurio commented on #109
Never mind, turns out that the issue was caused by something other than this. I'll close it.

[2019-11-11 14:58] #109 closed

[2019-11-11 15:31] ali9itani commented on #74
It worked when I wrapped ngx-spinner with a div that has a relative position property

[2019-11-18 11:49] moshikonS opened #110 "Using custom type"
Is it will be possible to use a custom type instead of the ones from Load Awesome?

Thanks!

[2019-12-04 07:28] rspl-yuvraj commented on #107
@ohanasolucionesintegrales Closing this issue due to inactivity, feel free to reopen if you're ready with https://stackblitz.com/fork/angular

[2019-12-04 07:28] #107 closed

[2019-12-04 07:30] #108 closed

[2019-12-04 07:32] rspl-yuvraj commented on #110
@moshikonS There is on the plan of custom spinner type as of now but I'll work on GIF support to use as a spinner, please keep checking #54

[2019-12-04 07:32] #110 closed

[2019-12-05 06:14] Arthi93 commented on #101
Wow, that solved my Issue. Git hub page should be corrected from ">= 7.2.0" to "= 7.2.0" for angular 7

[2019-12-05 06:29] rspl-yuvraj commented on #101
@Arthi93 Thanx for pointing out I'll update it soon.

[2019-12-10 19:22] MsKrypt1 opened #111 "Memory leak in spinner component"
It looks like spinner produces memory leaks because of incorrect unsubscription in the component. I'm referring to this piece:
https://github.com/Napster2210/ngx-spinner/blob/978cf4aac7a17bdd88f9dd0a9b3e09c7eb31804c/projects/ngx-spinner/src/lib/ngx-spinner.component.ts#L203-L205

Unsubscribe doesn't stop the spinner service subscription. `takeWhile` operator waits until the provided subject emits

[2019-12-11 18:00] rspl-yuvraj commented on #111
@MsKrypt1 Thanx a lot for pointing out the issue, I'll resolve this in the next release.

[2019-12-11 18:54] rspl-yuvraj commented on #111
@MsKrypt1 This has been resolved and will be available in the next version.

[2019-12-11 18:56] rspl-yuvraj commented on #97
@lonix1 This has been resolved and will be available in next version.

[2019-12-11 19:50] Napster2210 commented on #77
@Althain2 This has been resolved and will be available in the next version.

[2019-12-11 20:24] Napster2210 commented on #73
@jpike88 @dkruchok @nadav96 This has been done and will be available in next version.

[2019-12-12 19:13] Napster2210 commented on #111
This is resolved in version `v8.1.0`

[2019-12-12 19:13] #111 closed

[2019-12-12 19:13] Napster2210 commented on #97
This is available in version `v8.1.0`

[2019-12-12 19:13] #97 closed

[2019-12-12 19:14] Napster2210 commented on #77
This is available in version `v8.1.0`

[2019-12-12 19:14] #77 closed

[2019-12-12 19:15] Napster2210 commented on #73
This is available in version `v8.1.0`

[2019-12-12 19:15] #73 closed

[2019-12-13 08:11] jpike88 commented on #73
Thanks mate

[2019-12-16 15:20] jymaps commented on #24
I think you can start by letting people import manually the css files they need from Load Awesome.

[2019-12-17 09:35] gischy opened #112 "multiple spinner"
I could not use multiple spinner spread over different components inside one angular application. Controling a single spinner with name property does not work.

   "@angular/animations": "~8.1.1",
    "@angular/common": "~8.1.1",
    "@angular/compiler": "~8.1.1",
    "@angular/core": "~8.1.1",
    "@angular/forms": "~8.1.1",
    "@angular/platform-browser": "~8.1.1",
    "@angular/platform-browse

[2019-12-17 09:39] rspl-yuvraj commented on #112
@gischy Can you please share your example code using [Stackblitz](https://stackblitz.com/) ?

[2019-12-18 14:49] gischy commented on #112
https://stackblitz.com/edit/angular-25xpwc

in this stackblitz when the app is initalized i want 3 spinner to be displayed (each component comp1, comp2, comp3 has a spinner which should be displayed when the component is initalized...)
`  ngOnInit() {
    // somehow only spinner 3 of comp3 is displayed when the app is initalized
    this.spinner.show("sp3");
    setTimeout(()=>{
      this.spinner

[2019-12-18 15:59] Mathieu-DUSSART opened #113 "Multiple spinner not working"
Hi,
When I show two spinners at the same time, only one is showing.

Example :
It's working when the spinners are not showed at the same time (the spinner in the red div shows after 2sec) : https://stackblitz.com/edit/angular-qqp7t9

But it's not working when showed at the same time : https://stackblitz.com/edit/angular-ppnywm

[2019-12-19 04:54] rspl-yuvraj commented on #112
@gischy This happens due to the quick execution of each `show` function of the spinner, it won't wait for the previous spinner instance to execute. So do one thing just wrapped your `show` method in `setTimeout` with 0(zero) ms.

[code]

Let me know if you still face the same issue.

[2019-12-19 04:56] rspl-yuvraj commented on #113
Duplicated by #112 , @Mathieu-DUSSART please check the issue #112 for the solution.

[2019-12-19 09:42] gischy commented on #112
wrapping the show call inside that the setTimeout() method works, thank you

[2019-12-19 09:43] gischy commented on #112
until that could be fixed, there should be some hints inside the readme

[2019-12-19 11:20] kshkrao3 opened #114 "Spinner opacity doesn't take up the passed value and always uses 1"
The spinner opacity is not taking up the value and is always set to 1. I am using v8.1.0 and the same can be seen in the demo site - https://napster2210.github.io/ngx-spinner/

Also, I noticed that there is not `@Input` property for `bdOpacity`. Was this removed anytime?

Could you please check this and let us know?

[2019-12-19 12:36] rspl-yuvraj commented on #112
@gischy I'll add that in my next release. Thanx.

[2019-12-19 12:36] #112 closed

[2019-12-19 12:36] #113 closed

[2019-12-23 07:17] Arthi93 opened #115 "Spinner causes memory leak"
After adding ngx-spinner to my app, memory leaks appears preventing the component from being released and causing massive memory allocation. After commenting spinner, memory management works perfectly. Jumping between two identical components - one with spinner, one without, i saw growing delta in chrome dev tools. Is there any way to manually release spinner subscriptions/resources on component d

[2019-12-27 14:11] Napster2210 commented on #114
@kshkrao3 It was removed earlier in **v2.0.0** : https://github.com/Napster2210/ngx-spinner/releases/tag/v2.0.0

You've to use background colour in `RGBA` format where alpha value is used for opacity. The website is not the updated one, I'm working on new website. But you can get help of README file.

[2019-12-27 14:11] #114 closed

[2019-12-27 14:12] Napster2210 commented on #115
@Arthi93 Which version of `ngx-spinner` you're using?

[2019-12-27 14:15] Napster2210 commented on #24
@maku @matzmz @lonix1 @jymaps Working on this one, will come up with solution soon. Thanx for your support.

[2019-12-30 06:47] rspl-yuvraj commented on #115
Duplicated by #111

[2020-01-02 06:42] Napster2210 commented on #115
@Arthi93 Closing the issue due to inactivity, feel free to re-open if you're still facing the same issue.

[2020-01-02 06:42] #115 closed

[2020-01-03 14:45] EusebiuDev opened #116 "Disable keyboard Input while spinner is open"
Is it possible to disable keyboard input while the spinner is open?

When the spinner is showing (fullscreen mode) the user can still navigate through the application in the background.
It would be nice if there would be a feature to disable this behavior.

[2020-01-06 08:41] StevRoger opened #117 "Can I add an image at the bottom of loading logo?"
I want to add SVG image at the bottom of logo. Can I do it?

[2020-01-07 02:20] StevRoger commented on #117
I end up with easy solution. Adding any text tag and then add tag image and put SVG image.

[2020-01-07 02:20] #117 closed

[2020-01-07 09:48] Glamurio commented on #73
Hey I wanted to follow up on this, I can see that there's an animation now, but is there a way to turn off the smooth transition? Or am I better off downgrading to a previous version?

[2020-01-07 10:09] rspl-yuvraj commented on #73
@Glamurio Currently there is no way to turn off the animation.

[2020-01-08 09:50] Glamurio commented on #73
@rspl-yuvraj Thanks, I'd really like for there to be an option to turn it off in a future version

[2020-01-08 11:16] rspl-yuvraj commented on #73
Sure @Glamurio I'll keep in mind

[2020-01-09 08:48] kshkrao3 commented on #114
Ah, I see. Thanks for the response and update.. :)

[2020-01-10 18:35] rspl-yuvraj commented on #116
@EusebiuDev Currently there is no feature available, I'll keep in mind for future release.

[2020-01-10 18:35] #116 closed

[2020-01-16 17:09] abdes-zakari opened #118 "Change CSS of ngx-spinner"
There is any way to change `position:"absolute"` to `"relative"` of the spinner?

and how i can remove the black overlay from spinner?

[2020-01-16 17:30] Napster2210 commented on #118
@abdes-zakari you can set `bgColor` it's a RGBA value so just set 0 as alpha value

[2020-01-17 06:52] abdes-zakari commented on #118
Thanks for your reply but how i can change the position from absolute to relative.

![baaaan](https://user-images.githubusercontent.com/30769602/72590558-5230cd00-38fe-11ea-8a0e-009797ae752c.PNG)

[2020-01-17 06:58] rspl-yuvraj commented on #118
@abdes-zakari No need to change `position`

[2020-01-17 07:01] rspl-yuvraj commented on #118
`<ngx-spinner bdColor='transparent'></ngx-spinner>` You can set like this. @abdes-zakari Let me know if you want something else.

[2020-01-17 07:20] rspl-yuvraj commented on #118
There is no way to change the `position` from `absolute` to `relative`.

[2020-01-21 17:18] monis001 opened #119 "After hiding the spinner and calling `show` method it does not work."
Hi,

first of all awesome library with minimal setup, really helpful. I want to call spinner whenever API is called, sp apparently I added the service inside interceptor and called `show()`  and `hide()` accordingly. It works perfectly for the first case when the next API is called and when it calls `show()` method spinner does not work.

After hiding the spinner and calling back again it's not wo

[2020-01-21 17:52] #118 closed

[2020-01-21 18:15] rspl-yuvraj commented on #119
@monis001 Check this out: https://stackblitz.com/edit/angular-e7djzt
You can make the necessary changes and revert back to me.

[2020-01-31 05:47] vedankita opened #120 "Increase divCount in spinner.divArray"
how to increase divCount in spinner.divArray. Default value is 3 but I want 5 balls loader, in this case how to change it. I am using ball-pulse type. I am using angular 7 so I can't do changes in main js file. Is there any attribute to increase divcount

[2020-01-31 07:31] Napster2210 commented on #120
@vedankita You can not change `divCount`. Every divCount has separate type of spinner allocated.

[2020-01-31 07:33] Napster2210 commented on #120
@vedankita You can use `ball-pulse-rise` which has 5 balls.

[2020-01-31 07:37] vedankita commented on #120
But it's animation is different. I want animation like progress bar

[2020-01-31 07:47] Napster2210 commented on #120
It's a more CSS related change, but for that, you've to change core library. You can fork my work and made necessary changes as per your requirements.

[2020-02-03 11:46] vedankita commented on #120
Thanks @Napster2210. I have changed animation for this effect.

[2020-02-10 15:16] PooSham opened #121 "Update to Angular 9"
Angular 9 is out, please update peerDependencies

[2020-02-13 04:51] pragadeesh26 commented on #89
I am using angular 7 but the ngx spinner 7.2.0 is not working for me..

[2020-02-13 05:41] Bhavin3184 commented on #89
What error you getting?
    On ‎Thursday‎, ‎13‎ ‎February‎ ‎2020‎ ‎03‎:‎51‎:‎26‎ ‎PM‎ ‎AEDT, pragadeesh26 <notifications@github.com> wrote:

I am using angular 7 but the ngx spinner 7.2.0 is not working for me..

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-13 14:20] kritisharmaa01 commented on #33
Please tell me also the solution. I'm tired of searching! @Napster2210 @ghassen1khalil . thanks in advance :)

[2020-02-13 14:36] Napster2210 commented on #33
@kritisharmaa01 Let me know your Angular & `ngx-spinner` versions?

[2020-02-13 14:43] Napster2210 commented on #121
@PooSham Thanx, in my plan.

[2020-02-13 14:44] #120 closed

[2020-02-13 20:38] amitskale opened #122 "Can not change the size of the spinner overlay"
Hi,

I want to define the size of the overlay as part of spinner config. As of now it spans the entire area of the container that it is defined in. Don't see a way to do it, is this feature available? If not can I request it?

Thanks,
Amit

[2020-02-14 05:22] Napster2210 commented on #122
@amitskale As of now, there is no feature available. But you can wrap spinner in a `div` and set the size(height x width) as per your need.

[2020-02-18 16:18] SenAlexandru commented on #121
@Napster2210 - Is there an approximate date on when will the angular9 compatible version will be out? Thank you very much!

[2020-02-19 01:42] davidfindlay opened #123 "Feature Request: Show with timeout"
If something else goes wrong with an application while the spinner is showing it'll show immediately. I'd like to have a timeout callback available so I can have it report an error to my logs and the user if the spinner spins for too long.

[2020-02-19 02:52] Napster2210 commented on #121
@SenAlexandru in next week, maybe before 28th February.

[2020-02-24 18:44] Napster2210 commented on #122
Closing due to inactivity.

[2020-02-24 18:44] #122 closed

[2020-02-24 18:46] #119 closed

[2020-02-26 17:14] pavankjadda commented on #103
@rspl-yuvraj  Does this work? I just tried it using the following config and I don't see the text
[code]

[2020-02-28 06:56] rspl-yuvraj commented on #103
@pavankjadda You have to pass your `loadingText` variable in HTML this way:
[code]

[2020-03-03 15:56] ShiftyMcCool commented on #123
i do this with finalize() on all my subscriptions.  if your route throws an error, run your callback.

[2020-03-04 17:25] azche commented on #121
...any update on this? thanks!

[2020-03-04 17:27] rspl-yuvraj commented on #121
@azche Working on the same will release in the next 2 days.

[2020-03-05 18:48] rspl-yuvraj commented on #123
@davidfindlay As @ShiftyMcCool mentioned, you can do this at your end. As of now, not such kind of functionality in future plans.

[2020-03-05 18:48] #123 closed

[2020-03-05 18:58] rspl-yuvraj commented on #54
@BruneXX @alactic @ashokv7s @enniob @prasanna-5796 This functionality is already being done and will be available with `v9.0`

[2020-03-09 19:49] Napster2210 commented on #121
@PooSham @SenAlexandru @azche Latest version is published [v9](https://github.com/Napster2210/ngx-spinner/releases/tag/v9.0)

[2020-03-09 19:53] Napster2210 commented on #54
@BruneXX @alactic @ashokv7s @enniob @prasanna-5796  Latest version is published which has image support [v9](https://github.com/Napster2210/ngx-spinner/releases/tag/v9.0)
You can also check details on npm [ngx-spinner](https://www.npmjs.com/package/ngx-spinner)

[2020-03-09 21:39] reinaldorauch commented on #121
Installed about now and npm reported this to me:

![image](https://user-images.githubusercontent.com/2676370/76259880-5a89f200-6235-11ea-8a4d-c113b9241130.png)

[2020-03-10 06:41] reinaldorauch commented on #121
I've open a pull request that fixes it #124

[2020-03-11 14:01] #54 closed

[2020-03-11 14:01] #121 closed

[2020-03-27 16:10] aboudard opened #125 "ng add schematics not working"
It looks like schematics are not working.

## Minimal reproduction of the bug with instructions:
Windows
Angular CLI 9.0.4

## Expected behavior:
Install ngx spinner

## Result:
An unhandled exception occurred: Collection "ngx-spinner" cannot be resolved.

## I would be willing to submit a PR to fix this issue:

[x ] Yes
[ ] No

## Here is what I was working on for a project when adding useful lib

[2020-03-27 17:56] Napster2210 commented on #125
@aboudard Thanx a lot for the detailed issues. I'll make required changes and release a new version soon.

[2020-04-01 04:23] asahu132 opened #126 "Hide Method not working in sync"
If i write the below code, Loader should  be visible all the time because just after hiding the loader i am showing it again, but here hide method is not working in sync.
show method is showing the loader again before hide method work is done.
[code]

Version - 9.0.1
Browser - chrome

[2020-04-01 04:57] rspl-yuvraj commented on #126
@asahu132 Try below code:
[code]

[2020-04-11 06:48] Silvac34 commented on #24
Any update on this topic ?

[2020-04-11 06:50] rspl-yuvraj commented on #24
@Silvac34 Currently working on this, it'll be available in the next release. Maybe in 4-5 days.

[2020-04-12 20:44] #126 closed

[2020-04-14 15:14] wittlock opened #127 "Broken animation on pacman without fullscreen"
Was just playing around a bit on the demo page and found a broken animation. Running the demo as is but changing spinner type to pacman and disabling fullscreen appears to break the animation. Tested on Chrome v80 and v81.

```<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>```

[2020-04-15 14:22] KartikShankarappa commented on #16
@Napster2210 , if we have more than one spinner running, how to deal with loading text for each of those ?
Right now i have a use case with 5 spinners running simultaneously and each of the spinner is supposed to display different loading text. However, while these spinners are running, the text is overlapping which makes any of the text unreadable.
Any suggestions on how to handle this ?

[2020-04-15 14:29] rspl-yuvraj commented on #16
@KartikShankarappa Can you post a screenshot of your problem, so I can understand better.

[2020-04-15 14:36] KartikShankarappa commented on #16
![image](https://user-images.githubusercontent.com/10079319/79350028-ec57df80-7f04-11ea-8190-c97c37fc258d.png)

[2020-04-15 14:44] rspl-yuvraj commented on #16
@KartikShankarappa In this case, you need to handle the order of spinners. Are you using 5 different types of spinners or just text is different?

[2020-04-15 14:46] KartikShankarappa commented on #16
In my html I have 5 different spinners...
Something like this.
`<ngx-spinner
    [name]="AppConstants.SPINNER_COMMON"
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "large"
    color = "#fff"
    type = "ball-beat">
    <p style="font-size: 20px; color: white">Loading Fulfillment Search Data...</p>
</ngx-spinner>
<ngx-spinner
    [name]="AppConstants.SPINNER_COMMON1"
    bdColor = "rgba(51, 51,

[2020-04-15 16:13] rspl-yuvraj commented on #16
@KartikShankarappa Why you're using multiple spinners, I can see all the configuration for your spinners is the same except the **"Loading Text"**. You can set different **"Loading Text"** using some variable and changing the value of that variable periodically.

[code]

Instead of `setTimeout` you can perform some actions.

[2020-04-16 09:53] heshamz opened #128 "ngx-spinner inside dialog"
Hi,
I am trying to put the spinner inside a dialog and started once the dialog opened, but I receive "expression has changed after it was checked" error. I tried with mat-dialog (angular material) and nb-dialog (Nebular) but with the same result.

Do you have any sample on how to add the spinner inside the dialog and started on dialog open.

Thanks

[2020-04-16 14:04] rspl-yuvraj commented on #128
@heshamz When you're hiding spinner?

[2020-04-16 14:05] rspl-yuvraj commented on #127
@wittlock Thanx for raising the issue. I'll take a look and fix it soon.

[2020-04-16 14:11] heshamz commented on #128
@rspl-yuvraj on the dialog
I have a dialog and inside the dialog, there is a data grid on the beginning of data load I show the spinner and on data load ended I hide it.
The data grid sends a message on the start of load and the finish.

[2020-04-16 15:45] KartikShankarappa commented on #16
@Napster2210 , i am using multiple spinners because I have more than one API call executing simultaneously, which will resolve in their own time. Hence, in my code I provided above, the spinner names are different.

[2020-04-16 21:52] Michael-Ziluck commented on #74
@Napster2210 Why is it that nowhere in the documentation is it listed that the parent component needs to have `position: relative`? That seems like a pretty important detail...

[2020-04-18 08:24] Silvac34 commented on #24
Nice to hear that ! Waiting for the new release then

[2020-04-23 13:44] rspl-yuvraj commented on #128
@heshamz That's the issue with the Angular framework itself. This happens when your variable value is changed within a fraction of second. You can avoid this type of error by wrapping spinner methods into `setTimeout` method.

[2020-05-10 05:12] benedict1986 opened #129 "Not able to load customised image"
Hi, thank you for developing this useful library. I have an issue of using my own image. I tried that in one of your example, https://stackblitz.com/edit/angular-exgxk2?file=src%2Fapp%2Fapp.component.html

What I changed is

1). Add name to ngx-spinner as

[code]

2. Add template to show function

[code]

However, when I click `Change Options` button, it loads la-ball-scale-multiple, instead of th

[2020-05-11 21:09] eng-dibo opened #130 "show the spinner from the template"
add a template property to show the spinner, instead of using methods

[code]
in `ts` file:
[code]

[2020-05-15 07:05] jpike88 commented on #24
This is preventing me from using this library, that’s way too big just to show a spinner

[2020-05-15 07:08] rspl-yuvraj commented on #24
@jpike88 I'm planning two approaches for the same.

1. Create a lighter version of the library with a few standard spinners
2. Release a new version of the library which manage itself the issue

[2020-05-19 08:30] ManCodeB opened #131 "[error] ngx-spinner stops working after error occurs"
Hi guys,

I am using ngx-spinner v9.0.2 with Angular v9.1.4 and am experiencing the following issue.
Everything works fine and my spinner shows up whenever I want it to, but as soon as an application error happens (does not matter what kind of error) it won't show up anymore.

The rest of my application continues to work fine, except for the spinner. I have to refresh the page then it will show up

[2020-05-19 23:11] kostenickj commented on #129
same issue here.

[2020-05-30 06:52] peter-stoyanov opened #132 "WARNING: sanitizing HTML stripped some content"
I get the following warning in the console logged each time the spinner with [template] option provided in the html is used:

**WARNING: sanitizing HTML stripped some content, see http://g.co/ng/security#xss**

Stackblitz to reproduce the issue, just open the console and click on 'Start Spinner'
[link to reproduce](https://stackblitz.com/edit/spinner-template-sanitize)

[2020-06-19 12:11] pasevin opened #134 "Enhancement: Border radius"
Would be nice to have an option to set border-radius style on the whole element.

[2020-06-23 07:35] venkatramarajup commented on #32
@pairmix hi i am facing the same issue as ur's, did you get any solution ??

[2020-06-23 07:50] pairmix commented on #32
@venkatramarajup i gave up this tool.
You can try this: https://material.angular.io/components/progress-spinner/overview

[2020-06-23 07:50] #32 closed

[2020-06-23 13:07] venkatramarajup commented on #32
for angular component  spinner you can look at here https://www.angularjswiki.com/angular/creating-progress-spinner-in-angular/

[2020-06-25 02:19] pavankjadda opened #135 "Update to Angular 10"
Angular 10 is out, please update dependencies

[2020-06-26 12:08] amarchino opened #136 "Collision between text and spinner icon"
Greetings.
I am using the 8.1.0 version of the library tor an Angular 8 project.
During a suite of accessibility tests, it was reported that, with great zoom of the page, the spinner and the underlying text collide with each other.
I tried to replicate the test in the demo page, and even on desktop, at sufficient levels of zoom (around 200% on both Firefox and Chromium-based browsers) the collisio

[2020-06-29 06:55] rspl-yuvraj commented on #136
Hi @amarchino ,
Do you want the spinner bigger when you zoom around 200%? or you can set spinner size `default` while you zoom to 200%

[2020-06-29 06:57] rspl-yuvraj commented on #136
Take a reference: https://css-tricks.com/can-javascript-detect-the-browsers-zoom-level/
And based on your zoom level you can configure the spinner or override the style of spinner.

[2020-06-29 06:58] #128 closed

[2020-06-29 07:09] rspl-yuvraj commented on #129
@benedict1986 @kostenickj Thanx for pointing out. I'll take care of it.

[2020-06-29 07:10] rspl-yuvraj commented on #130
@eng-dibo I'll keep in mind.

[2020-06-29 07:12] rspl-yuvraj commented on #131
@ManCodeB I'll check that.

[2020-06-29 07:17] rspl-yuvraj commented on #132
@Napster2210 will take care of this warning in the next version.

[2020-06-29 07:18] rspl-yuvraj commented on #134
Thanx for your suggestion, I'll keep in mind for future releases.

[2020-06-29 07:18] #134 closed

[2020-06-29 07:19] rspl-yuvraj commented on #135
I'll release a new version soon.

[2020-07-06 15:41] pavankjadda opened #137 "Loading icon and text not displaying correctly during initial load in Firefox"
Loading icon and text not displaying correctly during initial load in Firefox(kind of freezes). I can reproduce the issue at demo site https://napster2210.github.io/ngx-spinner/

[2020-07-06 21:45] FredyValstrauss commented on #135
I'm also looking for this. Thank you.

[2020-07-08 16:16] xinthose opened #139 "Infinite animation until click"
The user clicks submit on a form (async function), I show the spinner, but when I call hide, it does not disappear until I click again (either inside the page or out of it).  What could be causing this?  The function does return.

## Code:
[code]

## `ng --version`
[code]
## `npm ls ngx-spinner`
`-- ngx-spinner@9.0.2`

[2020-07-09 13:44] devpurohit commented on #135
Please update soon. And if possible can someone give instruction on how we can upgrade it and make a pr. Would love to contribute!

[2020-07-09 14:08] xinthose commented on #137
Start spinner works fine for me in Firefox (77.0.1).

[2020-07-09 14:29] xinthose commented on #10
I am starting to realize that I should call hide before navigating and use await / async, otherwise the spinner does not hide.

[2020-07-09 18:37] pavankjadda commented on #137
@xinthose Doesn't it stutter during initial load?

[2020-07-09 21:40] xinthose commented on #137
@pavankjadda I would have to see a video of your screen, but no, it looks fine for me.

[2020-07-10 06:33] rspl-yuvraj commented on #135
@pavankjadda @rspl-yuvraj @FredyValstrauss @devpurohit New version will be there in this weekend itself with some fixes.

[2020-07-11 17:20] amarchino commented on #136
Sorry for the late reply.
I tried to apply the given instructions, trying to adjust the spinner size at some zoom break points.
The result is only kind of encouraging (mainly due to the lack of high level of support for zoom levels in browsers, given that the currently accessible API is not very flexible nor powerful): by changing the size, the collision was put of until approximately 450% zoom.
A

[2020-07-11 17:20] #136 closed

[2020-07-12 15:31] Napster2210 commented on #132
This is resolved and will be available in next version soon.

[2020-07-12 15:51] Napster2210 commented on #139
@xinthose I tried the same thing with my existing [example](https://stackblitz.com/edit/angular-kruvnm) by making some changes as below:

[code]
And it's working perfectly fine for me. It maybe something else but not with the spinner. Let me know if you find something for the same.

[2020-07-12 15:51] #139 closed

[2020-07-12 15:53] Napster2210 commented on #135
This is done will be releasing new version soon.

[2020-07-12 16:00] Napster2210 commented on #137
![image](https://user-images.githubusercontent.com/17761063/87251093-c5b72f80-c486-11ea-803d-88f0dcde2ba4.png)

I have checked in Firefox and it's working perfectly fine for me. It maybe something else not with the spinner.

[2020-07-12 16:00] #137 closed

[2020-07-12 16:19] Napster2210 commented on #129
@benedict1986 @kostenickj There is a limitation by Angular itself. You can check this out: https://github.com/angular/angular/issues/23916

If you find anything for the same let me know or raise a PR for that. Thanx.

[2020-07-12 16:19] #129 closed

[2020-07-12 19:09] Napster2210 commented on #127
This is resolved and will be available in next release.

[2020-07-17 07:16] yannpiot opened #142 "RGB color attributes vs styling with CSS classes"
Introducing a CSS class for the styling of a spinner would be more convenient than using the current [color] attribute. For instance, it would allow further customization beside the color (e.g. add a shadow if we wanted to) but also dynamic theming variables (achieved using, say, SCSS variables).

.spinnerstyle {
    background-color:$primary-color
    //etc.
}

I suppose the class could be either

[2020-07-19 19:34] Napster2210 commented on #135
Latest version `v10.0.0` is released!!!!!
https://github.com/Napster2210/ngx-spinner/releases/tag/v10.0.0

[2020-07-19 19:34] #135 closed

[2020-07-19 19:34] Napster2210 commented on #132
Latest version `v10.0.0` is released!!!!!
https://github.com/Napster2210/ngx-spinner/releases/tag/v10.0.0

[2020-07-19 19:34] #132 closed

[2020-07-19 19:35] Napster2210 commented on #127
Latest version `v10.0.0` is released!!!!!
https://github.com/Napster2210/ngx-spinner/releases/tag/v10.0.0

[2020-07-19 19:35] #127 closed

[2020-07-19 19:35] Napster2210 commented on #125
Latest version `v10.0.0` is released!!!!!
https://github.com/Napster2210/ngx-spinner/releases/tag/v10.0.0

[2020-07-19 19:36] Napster2210 commented on #131
Latest version `v10.0.0` is released!!!!!
https://github.com/Napster2210/ngx-spinner/releases/tag/v10.0.0

[2020-07-20 08:33] aboudard commented on #125
Great news :)
I'll give a try and integrate it in my external schematics !

[2020-07-20 08:37] Napster2210 commented on #125
@aboudard Let me know if you've any suggestion regarding schematics once you're installed the latest version.

[2020-07-20 11:54] ANahr opened #143 "Bad dependencies"
The package for ngx-spinner 10 has the following peer dependencies:
  "peerDependencies": {
    "@angular/common": "^7.2.0",
    "@angular/core": "^7.2.0"
  },

These dependencies should refer to the correct angular 10 version packages instead.

[2020-07-20 11:55] Napster2210 commented on #143
@ANahr do you get any error?

[2020-07-20 11:56] Napster2210 commented on #143
This was intentionally, let me know if you're faced any issue with that.

[2020-07-20 11:58] ANahr commented on #143
You get warnings

npm WARN ngx-spinner@10.0.0 requires a peer of @angular/common@^7.2.0 but none is installed. You must install peer dependencies yourself.
npm WARN ngx-spinner@10.0.0 requires a peer of @angular/core@^7.2.0 but none is installed. You must install peer dependencies yourself.

You should be able to build without warnings

[2020-07-20 11:59] ANahr commented on #143
An an "ng update" will fail because of these dependencies

[2020-07-20 12:00] Napster2210 commented on #143
Ahh I see. Okay I'll change that and release the new version today itself.

[2020-07-20 12:00] Napster2210 commented on #143
Thanx for pointing out @ANahr

[2020-07-20 20:10] Napster2210 commented on #143
@ANahr @vltansky @pavankjadda This is done, you can find the updated version `v10.0.1` on [npm](https://www.npmjs.com/package/ngx-spinner)

[2020-07-20 20:10] #143 closed

[2020-07-21 05:01] jeevasusej opened #144 "Custom template for the spinner"
How to add custom template for the spinner instead of the default one?

[2020-07-21 05:05] rspl-yuvraj commented on #144
@jeevasusej You follow the steps from README
https://github.com/Napster2210/ngx-spinner#using-custom-spinner

[2020-07-21 05:25] jeevasusej commented on #144
In documentation, it uses images.
Can we use template reference variable?
I have tried but i didn't get it. Instead of the default spinner, If I want to load any different spinner how to achieve it?

[2020-07-21 05:28] rspl-yuvraj commented on #144
@jeevasusej Can you post your HTML code snippet over here so I can help you with that.

[2020-07-21 05:50] Napster2210 commented on #144
@jeevasusej You can check this example: https://stackblitz.com/edit/angular-qb6k4h
I've created custom HTML template example for your reference. Hope this will help you.

[2020-07-21 07:21] jeevasusej commented on #144
Please check the link.
I don't know how to use it. Please consider the following demo.

https://stackblitz.com/edit/angular-qkate4?file=src%2Fapp%2Fapp.component.html

[2020-07-21 16:36] Napster2210 commented on #144
@jeevasusej You can't directly pass template ref variable because allowable type is HTML only. So you've to pass HTML into the `template` input property as I did in above example. That is the limitation of library.

[2020-07-21 16:36] #144 closed

[2020-07-21 16:38] Napster2210 commented on #131
@ManCodeB Can you please check the issue is still reproducible in the latest version as well?

[2020-07-21 16:49] jeevasusej commented on #144
It would be good if we add a label as enhancement

[2020-07-22 09:54] jymaps commented on #24
What's the status on this?

[2020-07-22 12:01] aboudard commented on #125
Hello,
I have an error when installing on a brand new empty Angular 10 project.

- ng new myProject
- cd myProject
- ng add ngx-spinner
Installing packages for tooling via npm.
Installed packages for tooling via npm.
√ Packages installed successfully.
Cannot find module '@angular/cdk/schematics'

I myself only use the utils from @schematics/angular/utility, but I see in the source that you use cdk

[2020-07-23 09:15] ChrisWB opened #145 "Position of loading text"
My problem goes in the same direction as described [here](https://github.com/Napster2210/ngx-spinner/issues/61), but I have no clue how to solve my problem.

We work with the attribute fullScreen = false and have parents with a fairly large height and also with a relatively low height. With these, the spinner text lies above the spinner animation.

To fix this, I would like to set the value for "t

[2020-07-25 13:18] chhinendu opened #146 "Spinner not showing"
The issue is replicable when navigated using `this.router.navigate(['/documents']);` and then loader shown in the component init. This happens on page refresh as well.

`this.spinner.show(); | spinner: NgxSpinnerService`

This is working fine on v8.0.3, in one of my live applications.

Dev application is on Angular 9 and ngx-spinner-v9.0.2, and I see this issue. To confirm I used v8.0.3 on my Dev

[2020-07-26 07:54] rspl-yuvraj commented on #146
@chhinendu Can you please create a [Stackblitz](https://stackblitz.com/fork/angular-ivy) to replicate the same issue?

[2020-07-26 07:57] rspl-yuvraj commented on #145
Can you please create a [Stackblitz](https://stackblitz.com/fork/angular-ivy) to replicate the same issue?

[2020-07-26 07:58] rspl-yuvraj commented on #125
@aboudard Thanx for pointing out, I'll make necessary changes and release the new one.

[2020-07-26 07:59] rspl-yuvraj commented on #24
@jymaps I'm still struggling with the proper implementation of this problem? Do you have any hint?

[2020-07-26 08:29] jymaps commented on #24
I think one option is to let people import the css style that they need. I can see that loadAwesome has the animations into individual css files. In my case, I am only using one spinner animation. So this will help a lot in decreasing my bundle size. The I can load the css file into my project like this https://egghead.io/lessons/angular-lazy-load-css-at-runtime-with-the-angular-cli. So the spinne

[2020-07-27 11:42] aboudard commented on #125
If I can help on this particular issue, just tell me, I'd gladly submit PR on this, but it's no emergency I guess, the spinner is working just fine in Angular 10 from what I tested :)
It's summer time, so I might not be as active for the next few weeks though !

[2020-08-01 06:17] chhinendu commented on #146
While enable ivy, I was not able to get the application to start, however turning ivy off, the application works file. I have used same kind of code in my application. I had debugged my code, `.show()` is being called, but the spinner is not shown.I will try again to replicate.

https://stackblitz.com/edit/angular-ivy-rne86z

[2020-08-03 04:58] Napster2210 commented on #146
@chhinendu It's working for me on the above given URL: https://stackblitz.com/edit/angular-ivy-rne86z

[2020-08-03 05:09] Napster2210 commented on #125
@aboudard I'll make necessary changes in next release, enjoy your summer time!!!

[2020-08-21 18:56] hhermas opened #147 "Concurrent spinners (fullScreen + non-fullScreen)"
I played with the multiple spinner demo and converted one of the spinners to be fullscreen.
Looks like it is possible to have a fullscreen and non-fullscreen spinner active at the same time.
But I'm wondering if this makes sense?

I would think that the fullscreen spinner must trump OR it shouldn't be displayed if there is a non-fullscreen spinner that is already running. At the same time, this im

[2020-08-24 18:55] f3l1xss opened #148 "How to show spinner on top part of container"
Hi there, when having parent with long height, Spinner will still be displayed in the center of the parent which will typically cause it to be invisible.
Is there any way to force the spinner to be at the top middle part?

FullScreen is not an option to me since I want some element in my DOM to be displayed when loading

[2020-08-25 06:17] rspl-yuvraj commented on #148
@f3l1xss You can wrap `ngx-spinner` in `div` and set your required style to that `div`. Make sure have set `position: relative;` to that `div` and `fullScreen` is `false`.

[2020-08-25 08:09] f3l1xss commented on #148
@rspl-yuvraj Hi Yuvraj, while it can be done that way, I kinda feel that it is a bit 'hacky' as the css then would have to target the div with specific animation type name and overwrite its margin properties (maybe there is a better way than using margin).

I ended up making the spinner fullscreen and making the background transparent as its neater that way

[2020-08-28 20:02] mkydouglas opened #149 "Error: Uncaught (in promise): NullInjectorError: StaticInjectorError(AppModule)[NgxSpinnerComponent -> NgxSpinnerService]"
Hey guys..

Coul'd you help with this error?

I'm gonna send images to show you my configs and complete error message.

Thanks a lot!

![Screenshot_11](https://user-images.githubusercontent.com/40704841/91610706-2a9fe980-e950-11ea-936f-ba89b7b2224c.png)
![Screenshot_12](https://user-images.githubusercontent.com/40704841/91610708-2a9fe980-e950-11ea-994b-0071db123d97.png)
![Screenshot_13](https://us

[2020-08-31 05:40] Napster2210 commented on #149
@mkydouglas You should use `ngx-spinner` version 8. Please check ReadMe file.

[2020-08-31 05:41] Napster2210 commented on #149
@mkydouglas Use `v8.1.0` of `ngx-spinner`

[2020-09-11 07:35] Vandana-25 opened #150 "When spinner is loaded, mouse clicks are disabled. but you can still trigger keyboard events."
When spinner is loaded, mouse clicks are disabled. but you can still trigger keyboard events.

for example:
https://stackblitz.com/edit/angular-9kvtka?file=src%2Fapp%2Fapp.component.ts

In the above demo example, follow the steps to reproduce the issue.

1. Move <button nbButton status="success" (click)="showSpinner()">Start Spinner</button> inside <nb-card-body>
2. Navigate to start spinner butto

[2020-09-11 18:53] lixaotec commented on #97
what is changed? where can I see this feature?
I wish to make ngx-spinner to only shows indeed after a second (x time) because sometimes, operations within 1 sec it starts and stops resulting in undesirebla effect of a spinner that happens too fast

[2020-09-12 16:56] nikoslyk2093 opened #151 "Spinner doesnt show in Angular 10"
I installed ngx-spinner on my app and i cant make it show.. i followed all the instruction from getting started. Anyone has the same problem?

[2020-09-15 13:35] Sidhava commented on #151
With Angular 10 and ngx-spinner version 10.0.1 the spinner works only in the ngAfterViewInit method for me.

[2020-09-23 18:15] pavankjadda commented on #137
Sorry for the late reply, here is the video of showing the stutter

https://imgur.com/a/WtsVZhJ

[2020-09-23 18:17] pavankjadda commented on #137
I use Firefox 81.x now

[2020-09-23 20:55] pavankjadda commented on #137
Okay, here is the issue. I see this stutter only when connected to 4K monitor and when disconnected the monitor it works fine. I filed a [bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1666911) with Firefox, let's wait and see if this is the issue

[2020-09-24 08:33] bogdandanielb commented on #148
This can be included in the documentation.

[2020-09-28 19:31] tspicer commented on #24
Any update on this? The package is rather large, even compressed. Google ranking is complaining about all the unused CSS. I suppose we can hack the CSS a bit, but that will get messy

[2020-09-29 14:40] jonghshin commented on #151
It does not work on my Angular 10 project.

[2020-10-06 15:41] thilo-behnke opened #152 "Bug? Show/hide no longer return promises"
Your documentation mentions:

[code]

However this feature was removed in this commit: https://github.com/Napster2210/ngx-spinner/commit/769b5f3212f47829372dfc0cfd85565da0c9f34a

E.g. for show: https://github.com/Napster2210/ngx-spinner/blob/master/projects/ngx-spinner/src/lib/ngx-spinner.service.ts#L34

[code]

The timeout could be wrapped in a promise:

[code]

Was this by mistake or was there a

[2020-10-06 15:42] thilo-behnke opened #153 "Bug ? show / hide no longer return promises"
Your documentation mentions:

[code]

However this feature was removed in this commit: https://github.com/Napster2210/ngx-spinner/commit/769b5f3212f47829372dfc0cfd85565da0c9f34a

E.g. for show: https://github.com/Napster2210/ngx-spinner/blob/master/projects/ngx-spinner/src/lib/ngx-spinner.service.ts#L34

[code]

The timeout could be wrapped in a promise:

[code]

Was this by mistake or was there a

[2020-10-06 15:43] thilo-behnke commented on #153
Github created my issue twice: https://github.com/Napster2210/ngx-spinner/issues/152
I'm closing this one.

[2020-10-06 15:43] #153 closed

[2020-10-11 07:55] nakshay opened #154 "How to know if spinner is loading or not,"
How to know if the spinner is showing on screen or not., Is there any observable I can subscribe to, so that I can see the state of the spinner.

[2020-10-19 09:02] andyb70 commented on #151
No problems here with 10.2.4 although make sure you include the NgxSpinnerModule in your module file.

[2020-10-19 09:05] andyb70 opened #156 "How to change the text/template through the options?"
I have a spinner on my app.component and I call this full page spinner from various places however I would like to supply different text, sometimes the text should be "Loading.." other times the text wants to be "Cancelling.." and so but I can't seem to change this through the show method, I have tried the following: -

`this.spinner.show(undefined, { template: 'Cancelling..'});`

but I still get

[2020-10-19 09:23] #151 closed

[2020-10-20 11:48] danieldanielecki commented on #146
It's also working for me on `Angular 10`, however it breaks on `Angular Universal`.

[2020-10-20 13:08] danieldanielecki opened #157 "Angular Universal / Server-Side Rendering (SSR) breaks ngx-spinner"
I'm running an `Angular` app on the latest version of `ngx-spinner (10.0.1)` & `Angular (10.0.14)`, the `ngx-spinner` works great when running from `ng serve`.

However, once performing Server-Side Rendering (SSR) the app breaks without any details (such as `window` undefined etc.) in the logs. I've tried to run this locally using `NestJS` and `Cloud Functions for Firebase` locally/deployed to Fir

[2020-10-26 07:52] Silvac34 commented on #24
Still no update on this ?

[2020-10-26 18:45] Delubear opened #158 "Option to disable fade animations?"
Can we get an option to disable the fade animations? And to have separate disables for fadeIn and fadeOut?

When initializing in a child component and wanting the spinner to appear immediately, the fade shows the parent component elements (in fullscreen) before fading away.  It looks tacky and being able to disable it would be great.

[2020-10-26 18:47] Delubear opened #159 "Option to disable fade animations"
Can we get an option to disable the fade animations? Being able to disable the fadeIn and fadeOut independently of each other would be great.

Right now when I want to show the spinner on page load from a child component, you briefly see the parent contents before the spinner fades in.

[2020-10-26 18:47] #159 closed

[2020-10-29 08:18] guypeled1 opened #160 "property @fadeIn. Please include either "BrowserAnimationsModule" or "NoopAnimationsModule" in your application"
I am getting this error what should I do?

[2020-10-29 09:21] rspl-yuvraj commented on #160
@guypeled1 Import `BrowserAnimationsModule` module in your `app.module.ts` file.

[2020-10-29 09:44] guypeled1 commented on #160
from where?

[2020-10-29 09:50] rspl-yuvraj commented on #160
`import { BrowserAnimationsModule } from '@angular/platform-browser/animations';`

[2020-10-29 09:57] guypeled1 commented on #160
Thanks

[2020-10-29 09:58] #160 closed

[2020-12-14 13:38] marius-orha opened #162 "Unable to extend the service because models are not exported"
I created my own LoadingService and I try to call NgxSpinnerService methods from it, but I get the following error:
![image](https://user-images.githubusercontent.com/11141236/102087527-6046e080-3e22-11eb-8b54-eaa04f86f7cd.png)

[2020-12-14 13:43] marius-orha commented on #162
PRIMARY_SPINNER and Spinner should be exported too, as log as are used as parameters in NgxSpinnerService methods, which are public.

[2020-12-16 14:11] abnet3 opened #163 "Error in angular 11"
when i try to import it in my module i am facing this error

Module '"../../../node_modules/ngx-spinner/ngx-spinner"' has no exported member 'NgxSpinnerModule'.ts(2305)

any solutions?

[2020-12-26 10:05] STEdirisuriya opened #164 "When copying code from demo website, no spaces before bdColor,"
I was trying to customize a spinner from [](https://napster2210.github.io/ngx-spinner/). When I'm copying the data it removes the space before keyword bdColor.

`<ngx-spinnerbdColor = "rgba(0,0,0,0)" size = "medium" color = "#616161" type = "ball-scale-multiple" [fullScreen] = "false"></ngx-spinner>`

[2021-01-06 15:34] jesperdj opened #165 "Add support for Angular 11"
Currently, ngx-spinner does not support Angular 11 which was released in November 2020.

If you try to use ngx-spinner version 10.0.1 in an Angular 11 project, then `npm install` will warn that ngx-spinner needs Angular 10.

Please add support for Angular 11.

[2021-01-07 17:35] whiskpo0 commented on #165
I found in the mean time you can use this command to get it working in Angular 11
`npm install ngx-spinner@^10.0.1 --force `

[2021-01-10 14:56] mavzerbay commented on #6
It works ty

[2021-01-12 13:00] benedict1986 commented on #165
I get the following error after installing ngx-spinner 10.0.1 and running `npm run build`

[code]

[2021-01-14 03:37] nurfgun opened #166 "Hiding does not happen when hide() is run outside zone."
I saw no problem until I came across some 3rd party asynchronous method. To emulate it :
[code]
In this scenario, the spinner component is marked for a check but a new change detection cycle is not run.

Changing
[code]
to
[code]
in NgxSpinnerComponent's ngOnInit

will fix this.

[2021-01-21 13:30] WiharlleyWill commented on #84
I had same problem, I fixed with:

`<ngx-spinner [name]="'name'">`

Working fine 👍

[2021-01-24 13:49] alb-noah commented on #163
did you find the solution ?

[2021-01-28 06:16] larspehrsson commented on #163
I had the same problem. I uninstalled spinner with
`npm uninstall ngx-spinner `
and reinstalled with
`npm install ngx-spinner --force `
That seems to have solved the problem.

[2021-02-01 23:16] EgoistDeveloper commented on #6
@JigneshPatel04's solution not work. Actually everything's fine but I realised forgot declaring my component in child module. In this case might helps.

[code]

And another strange thing is if this case happens all ngx-spinner parts shows this error in console.

[2021-02-03 00:06] #149 closed

[2021-02-09 08:15] izabekz commented on #130
@rspl-yuvraj Hi! Is there any progress on this issue? Just asking

[2021-02-09 08:16] izabekz commented on #130
It would be very nice with this enhancement

[2021-02-09 08:20] Napster2210 commented on #130
@izabekz Not yet, I am planning new release for v11. I will include this in my list along with other features.

[2021-02-09 08:22] Napster2210 commented on #131
Closed due to inactivity, please free to raise another one if you faced something like this.

[2021-02-09 08:22] #131 closed

[2021-02-09 08:24] izabekz commented on #130
@Napster2210 is there any date for new release that you are planning?

[2021-02-09 08:26] Napster2210 commented on #147
@hhermas Communicating between spinners would make this simple library very complex. I am trying to make this library more smaller or lighter version. But thanx for your suggestion I'll keep in my mind for future features.

[2021-02-09 08:26] #147 closed

[2021-02-09 08:28] Napster2210 commented on #148
@f3l1xss In next release I am planning to expose some classes for Spinner and Overlay as well which help you guys to extend/overwrite the styling.

[2021-02-09 08:28] #148 closed

[2021-02-09 08:29] Napster2210 commented on #150
@Vandana-25 I need to work on this but great catch! Thanx for using this library.

[2021-02-09 08:34] Napster2210 commented on #156
@andyb70 Currently there is no option to change template text through options but you can define a variable in your component and pass this way:

[code]

[2021-02-09 08:37] Napster2210 commented on #157
@danieldanielecki I need to check this in detail.

[2021-02-09 08:39] Napster2210 commented on #158
@Delubear Thanx for the suggestion, I'll keep in mind.

[2021-02-09 08:40] Napster2210 commented on #162
@marius-orha Thanx for the suggestion, I'll make that changes in next release.

[2021-02-09 08:52] Napster2210 commented on #164
@STEdirisuriya Thanx for pointing out.

[2021-02-09 08:53] Napster2210 commented on #165
@jesperdj @whiskpo0 @benedict1986 I will release latest version v11 soon.

[2021-02-09 08:54] Napster2210 commented on #166
@nurfgun Thanx for pointing out I will make this change in next release.

[2021-02-09 08:57] Napster2210 commented on #130
I am planning new release by end of this week. Most probably in weekends.

[2021-02-09 08:57] Napster2210 commented on #130
@izabekz I will try as early as possible.

[2021-02-12 13:32] vaishnavravi33 opened #170 "ngx-spinner issue with angular 9 to support the IE 11 with ES5"
I want to run my angular 9 application in IE 11 and I installed the "ngx-spinner v10.0.01".

I need help with this issue.

When I compile the angular 9 application for the ES5 it is throwing the error -

Error - Error: getInternalNameOfClass() called on a non-ES5 class: expected NgxSpinnerService to have an
inner class declaration.

Compiling ngx-spinner : module as esm5
Warning: Invalid construct

[2021-02-13 23:39] bogdandanielb commented on #24
Any good news in 2020 related to bundle size?

[2021-02-15 22:42] TLKG opened #171 "No provider for NgxSpinnerService"
package.json:
[code]

my global CLI version is 10.1.1. If it's the version mismatch, what npm command to install the correct spinner version?

[code]

[2021-02-17 11:38] frischka commented on #152
This would be very interesting for me, too. I do not know, how to wait for following code.

[2021-02-17 13:21] razvanbh opened #172 "Changing ngx-spinner name causes spinner to not be displayed anymore"
I've create a [stackblitz ](https://stackblitz.com/edit/angular-ubrvk1?file=src/app/app.component.ts) to reproduce this issue.
When you load the page show and hide buttons work. If you press the change name button the show and hide actions stop working.

[2021-02-19 09:07] izabekz commented on #130
@Napster2210 Hi, is there any info on when the new release coming? Thanks

[2021-02-21 08:21] danieldanielecki commented on #157
@Napster2210 checked once again, and even with [#830 (comment)](https://github.com/angular/universal/issues/830#issuecomment-770369651) it still doesn't work on `Angular Universal`.

[2021-02-26 05:31] nickeeromo commented on #163
#165

[2021-02-26 05:34] nickeeromo commented on #163
ngx-spinner doesn't officially support Angular 11 yet. The workaround does work, but there are some corporate setups that won't allow that :(

But there is an enhancement request open for official Angular 11 support here: #165

[2021-03-04 10:48] Loisis commented on #172
I have the same issue. The spinner works only with the default name "primary". For all other names no spinner is shown.

[2021-03-09 11:06] Napster2210 commented on #165
@kavinda1995 I am working on it, it will be out this week.

[2021-03-09 11:07] kavinda1995 commented on #165
That's great to here. Thanks man. Waiting for it

[2021-03-15 20:45] #156 closed

[2021-03-16 12:49] nextdocdev commented on #165
@Napster2210 This component has support yet?

[2021-03-16 16:04] Napster2210 commented on #171
@TLKG It's because of version mismatch, your Angular version is v8 then you must use the same version for `ngx-spinner` as well.
User command: `npm install ngx-spinner@8.1.0`

[2021-03-16 16:04] #171 closed

[2021-03-16 16:06] Napster2210 commented on #170
@vaishnavravi33 You should use appropriate version of `ngx-spinner` as your application is in Angular v9 then use version `v9.0.1` for `ngx-spinner`.

[2021-03-16 16:06] #170 closed

[2021-03-16 17:59] RafaelPuerta commented on #165
@Napster2210 I tried it on angular 11 and it works fine 😳😳 thank u broo 🙋‍♂️

[2021-03-17 01:55] obrassard commented on #158
Hello, I found this issue while trying to achieve the same thing as @Delubear!
Are you still considering this change?

I think we could add a new animation state and transitions (e.g. a `fadeOutOnly` state) to `NgxSpinnerComponent` and let users choose which animation they want to use by passing the start state in an `@Input`. This would allow us to easily customize the animation.

[2021-03-18 09:42] Barzille commented on #165
Any progress on the next release for Angular 11?

[2021-03-18 14:58] julitroalves commented on #165
Recently I added it to my project and it works fine, thanks @Napster2210 you're great!

[2021-03-18 15:13] Barzille commented on #165
Yes it's working, but what about the warning?
[code]

[2021-03-18 18:50] vbenavidesa opened #174 "ngb-modal and ngx-spinner"
I tried to make this spinner work on a modal window, problem is that I already have a spinner on a card in the main component for when I fetch data from my service, now when I open the modal and activate the spinner it goes for the main window spinner size and not the modal size, it might be cuz its the same tags but I was wondering if there can be multiple instances of this and how could I call o

[2021-03-18 19:20] vbenavidesa commented on #174
I missed part of the documentation, I found the solution, sorry for the issue.

[2021-03-18 19:20] #174 closed

[2021-03-22 09:38] 123NeNaD opened #175 "Show Spinner until APP_INITIALIZER finishes"
Hi, I also created an Stackoverflow question for this:
https://stackoverflow.com/questions/66299421/show-ngx-spinner-until-app-initializer-finishes

So, I want to display spinner until APP_INITIALIZER finishes. I put spinner tag in "index.html" but I don't know how to activate it. From what file can I activate it? I tried "app.component.ts" and "main.ts".

Thanks in Advance

[2021-03-23 19:52] m-bagnarelli commented on #165
Hey, how can I do the installation correctly in Angular v11?

[2021-03-23 22:10] julitroalves commented on #165
I just run npm i ngx-spinner --save;

Em ter., 23 de mar. de 2021 às 16:52, Mariano Bagnarelli <
***@***.***> escreveu:

--

*Atenciosamente, Julio Alves.*

[2021-03-23 22:23] m-bagnarelli commented on #165
Here is my log after running that command command:

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: backoffice42payapp@0.0.0
npm ERR! Found: @angular/common@11.2.6
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"~11.2.4" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/common

[2021-03-24 20:54] bayramerenn commented on #165
@Napster2210 When do you post 11 support?

[2021-03-25 09:31] chitra-c commented on #24
@Napster2210 any update on reducing the bundle size ?

[2021-03-27 22:06] Napster2210 commented on #130
It's done and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:06] #130 closed

[2021-03-27 22:07] Napster2210 commented on #146
Latest version is available for Angular [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:07] Napster2210 commented on #150
It's resolved and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:07] #150 closed

[2021-03-27 22:08] Napster2210 commented on #152
It's done and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:08] #152 closed

[2021-03-27 22:08] Napster2210 commented on #163
New version is available for Angular [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:08] #163 closed

[2021-03-27 22:09] Napster2210 commented on #158
It's done and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:09] #158 closed

[2021-03-27 22:09] Napster2210 commented on #162
It's done and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:09] #162 closed

[2021-03-27 22:09] Napster2210 commented on #164
It's done and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:09] #164 closed

[2021-03-27 22:10] Napster2210 commented on #165
It's done and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:10] #165 closed

[2021-03-27 22:10] Napster2210 commented on #166
It's done and available in [v11](https://github.com/Napster2210/ngx-spinner/releases/tag/v11.0.0)

[2021-03-27 22:10] #166 closed

[2021-03-27 22:11] bayramerenn commented on #165
Thank you @Napster2210

[2021-03-28 10:52] laurentbellec opened #176 "Issue when used in lazy load module"
Could BrowserAnimationsModule be removed from ngx-spinner.module ?

[2021-03-29 09:26] m-bagnarelli commented on #165
Thanks! @Napster2210

[2021-03-29 10:29] m-bagnarelli commented on #176
this issue has something to do with this error I am facing?
I´m trying to use ngx-spinner in lazy loaded modules.

Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.

[2021-03-29 11:55] laurentbellec commented on #176
yep, same error

[2021-03-29 11:58] chentong98 commented on #176
I also facing this issue how to fixed yah ?

[2021-03-29 13:49] mlc-mlapis commented on #176
Yep, the problem was introduced by the commit:
https://github.com/Napster2210/ngx-spinner/commit/58af309502ae257b6a2bf60bef50034680c7cf0c
in this module file:
https://github.com/Napster2210/ngx-spinner/commit/58af309502ae257b6a2bf60bef50034680c7cf0c#diff-ddb8b1fedc5951918dceeed3835cfb59335f134bf85b3f8900a8859babd29bd8
[code]

[2021-03-29 13:57] Napster2210 commented on #176
I will remove it in next release.

[2021-03-30 00:53] nurfgun commented on #166
@Napster2210  👍

[2021-03-30 03:43] z3v0k commented on #176
same error!

[2021-03-30 10:49] Napster2210 commented on #176
@laurentbellec @m-bagnarelli @chentong98 @mlc-mlapis @z3v0k Can you please try the latest version **v11.0.1**?

[2021-03-30 11:19] mlc-mlapis commented on #176
@Napster2210 It works as expected now on our side with v11.0.1. Thanks. 👍

[2021-03-30 11:21] chentong98 commented on #176
@Napster2210  yes, is works now thanks~

[2021-03-30 12:30] m-bagnarelli commented on #176
@Napster2210 It works now. Thanks !!

[2021-03-30 13:18] #176 closed

[2021-04-02 15:35] patelvimal commented on #172
@Napster2210 Here is the pull request for this bug. Please review it.
https://github.com/Napster2210/ngx-spinner/pull/177

[2021-04-03 15:20] shaswat10mishra opened #178 "I am getting two spinner if I use the <ngx-spinner></ngx-spinner> in any component's template. How to remove the default spinner."
I have installed the ngx-spinner in my app, added in imports array of the module but not injected in any of the templates. Now when I am using its methods show() & hide() in API calls I am getting a default spinner with **"please wait"** text.
Now If I use any other type of this spinner (**type = "square-jelly-box"**), I am getting two spinners overlapped.
My question is :- I want to remove that d

[2021-04-30 07:39] sohelasique opened #181 "How to call loadingText through service"
I have working an application which have different page have different loading message shows . So I am unable to loading text show through service.

[2021-05-06 08:32] vlad-cirstean opened #182 "@HostListener('document:keydown', ['$event']) blocks keyboard input"
Hello,
I wonder what is the purpose of [this](https://github.com/Napster2210/ngx-spinner/commit/7c13ee9abeec5c36a26318f84fde30a54036f6c9#diff-ac6b876f9fcb73569b9f0635e242b0e12aa9444c5fd164a37b0f8f9fc9557f55R139) key interceptor?

I use the spinner for an async validator and the latest version blocks any keyboard events (tested on Chrome, Firefox and Safari)
<img width="460" alt="Screenshot" src="h

[2021-05-07 04:46] Napster2210 commented on #182
@vlad-cirstean It was implemented due to #150

[2021-05-07 04:48] Napster2210 commented on #181
@sohelasique  You need to create separate variable maybe ngModel and change it based on your requirements.

[2021-05-07 04:48] #181 closed

[2021-05-10 12:32] iron2414 commented on #182
Created a pull request, please review and accept if there are no problems with it.
Good libary btw! :)

[2021-05-12 22:49] pavankjadda opened #184 "Please add support for Angular 12"
Angular 12 released today, please add support for it

[2021-05-13 08:18] iron2414 commented on #182
@Napster2210

[2021-05-20 09:22] i-aleksandrov commented on #182
Any progress on this one? I have a use case where I have input fields in a modal window which need to be responsive while a potentially longer operation is loading in a separate component on the page.

[2021-05-24 08:27] hidegh opened #186 "How about supporting state change via a @input() show? on the ngx-spinner?"

[2021-05-27 07:57] iron2414 commented on #182
The owner of this repository didn't react to my pull request yet. However I fixed it for the Angular 11 version. You can use that temporary, till my pull request gets acceoted, or some other solution gets implemented.

[2021-06-03 10:22] mosheboker1 commented on #184
Can you merge it please?

[2021-06-08 08:02] ermanojsingh99 commented on #146
i have angular 11 version ngx-spinner not showing .....i have already import

[2021-06-09 20:48] mac-bhaird commented on #184
Checking in on this, is this going to happen soon?

[2021-06-10 11:11] Napster2210 commented on #178
@shaswat10mishra Can you please create sample code on https://stackblitz.com/ ?

[2021-06-10 11:15] Napster2210 commented on #186
@hidegh It's already there in v11. Please check https://github.com/Napster2210/ngx-spinner#whats-new

[2021-06-10 11:15] #186 closed

[2021-06-10 11:33] Napster2210 commented on #182
This has been fixed in https://github.com/Napster2210/ngx-spinner/releases/tag/11.0.2

[2021-06-10 11:35] #182 closed

[2021-06-10 11:55] iron2414 commented on #182
That commit is not gonna work.  If you are not in fullscreen, and you mask a certain div, and the focus is inside of it. Then now you can press buttons on the keyboard, its going through. Please checkout my pull request, that fixes it properly

[2021-06-10 22:00] Napster2210 commented on #184
@pavankjadda @mosheboker1 @mac-bhaird @djonmayer @cwtwcz @stolato @Sarah-JJ @nicks-passiert@cl-kazumi-nakajima
Release new version v12.

[2021-06-10 22:00] #184 closed

[2021-06-10 22:04] Napster2210 commented on #146
@ermanojsingh99 New version v12 is released, please check in latest version. If you guys still faced the issue(Except Angular Universal) then please reopen the issue with sample code.

[2021-06-10 22:04] #146 closed

[2021-06-10 22:06] Napster2210 commented on #154
@nakshay There is no such observable available but you can check in DOM for ngx-spinner element. Create a function which checks in DOM is ngx-spinner element exist or not.

[2021-06-10 22:06] #154 closed

[2021-06-10 22:10] Napster2210 commented on #175
This functionality is related with Angular, I think you need create some factory function and need pass dependency of `ngx-spinner` into that function and inside that function you need to call `ngx-spinner` service. But still I am not sure about `APP_INITIALIZER` will wait for that or not. You need to handle this manually in your application.

[2021-06-10 22:10] #175 closed

[2021-06-14 13:51] glenstaes opened #187 "Cover code with unit tests"
Given the number of weekly downloads using npm, I think the coverage of unit tests should be better.

Having only a 'should create' test for the component and service offers little confidence regarding regression effects to companies considering the package.

[2021-06-14 17:22] Napster2210 commented on #178
Closing the issue due to inactivity. Feel free to open if someone faced the same with sample code.

[2021-06-14 17:22] #178 closed

[2021-06-14 17:25] Napster2210 commented on #187
@glenstaes Sure @glenstaes . Thanx for the interest.

[2021-06-20 14:53] HamzaPY commented on #146
Spinner is not showing with Angular 12 and ngx-spinner version 12.
Please help!

[2021-06-20 15:35] lyvyu commented on #186
Hello guys,

first thanks for an amazing library and continuous updates, amazing work !!!

Now, it seems that displaying spinner from template using `[showSpinner]='true'` seems not to be working. Even in stakblitz described in readme.

Perhaps you guys forgot to check the value on first load, pls check on that !!

Thanks in advance.

[2021-06-20 15:44] Napster2210 commented on #146
@HamzaPY Can you please post your block code on Stackblitz?

[2021-06-20 16:06] HamzaPY commented on #146
It is same as the provided demo.

[2021-06-25 08:40] sebit-dogancoruh opened #189 "ngx-spinner gives a lot of "static ɵprov: ɵngcc0.ɵɵInjectableDef" errors"
ngx-spinner gives a lot of "static ɵprov: ɵngcc0.ɵɵInjectableDef" errors with the newest version of angular.

[2021-06-25 08:47] rspl-yuvraj commented on #189
@sebit-dogancoruh  Which version of Angular you are using?

[2021-07-15 12:08] kombasltd commented on #189
Same here, Angular 11:

[code]

[2021-07-16 21:03] Felipe-Castillo commented on #163
doesn't work in angular 11

[2021-07-25 07:00] raghavshivi94 commented on #163
Doesn't work with Angular. Gives so many errors related to 'Namespace xyx has no exported member FactoryDeclaration' etc.

[2021-07-25 09:07] Napster2210 commented on #163
@Felipe-Castillo @raghavshivi94 Please post your `package.json` here, I want to know exact version Angular and ngx-spinner.

[2021-07-25 09:08] Napster2210 commented on #189
@sebit-dogancoruh @kombasltd Which version of `ngx-spinner` you are using?

[2021-07-25 09:20] raghavshivi94 commented on #163
@Napster2210 yes I my Angular version is 11 and ngx-spinner version was 12.0.0 thats why I was getting error. I changed the ngx-spinner version to 11.0.2 and its now working :-)

[2021-07-25 09:22] Napster2210 commented on #163
Because in `ngx-spinner` v12.0.0, I have enabled Ivy support because that you were getting that errors.

[2021-07-25 09:53] kombasltd commented on #189
I tried to install latest version.

As I said, now I am using

`"ngx-spinner": "^9.0.2",`

again without getting this error (used this version in an other project already without any problem).

[2021-07-26 12:29] Shams0045 commented on #189
@kombasltd I had same problem, in my case by default I installed ngx-spinner version 10 which is not capable with Angular version 11. Therefore, deleted ngx-spinner version 10 and installed version 11 (npm i ngx-spinner@11.0.0) for Angular 11.

[2021-08-23 18:40] Napster2210 commented on #189
@kombasltd With Angular `v11`, please try to use `ngx-spinner` `v11.0.2`. You can use the command `npm i ngx-spinner@11.0.2` to install that specific version. You are getting above errors because in the latest version(`v12`) I have enabled Ivy support partially which uses different compilation from previous versions.

[2021-08-24 17:27] joelmuskwe opened #193 "Failing to activate spinner using [showSpinner]"
Current Environment:
[code]

I have imported NgxSpinnerModule and have added the CUSTOM_ELEMENTS_SCHEMA schema but when i try to initiate the spinner using [showSpinner] nothing happens.

[code]

[2021-08-30 18:57] AlexCs389 commented on #193
same problem

[2021-10-01 10:26] Prontsevich commented on #193
I also have this problem in some cases. In one component it works, in another not.

[2021-10-06 13:53] jocafi commented on #24
Any news on how to reduce the bundle size of ngx-spinner.js ?

[2021-10-25 07:08] rakeshbaral92 opened #199 "How to use fullscreen false in HTML?"
fullScreen="false" in the HTML shows error.

[2021-10-25 12:03] rakeshbaral92 opened #200 "How to show spinner inside a specific div not in the entire screen."
How to show spinner inside a specific div not in the entire screen.

[2021-11-05 11:17] MeltedFreddo commented on #193
For me, the spinner will not appear on initial load, but will start to appear from the second time the controlling variable is toggled.

[2021-11-17 06:22] mohamedkaddouri opened #201 "Angular 13 support"
Could you please add support for angular 13, the build fails.

[2021-11-20 12:07] feliperodriguez44 opened #202 "Angular 13 support"
hey guys, lets apply v13 updates. can i help if u want =)

[2021-11-20 12:09] Napster2210 commented on #201
@mohamedkaddouri Sure, I will release the latest version very soon with Angular 13 update.

[2021-11-20 12:09] Napster2210 commented on #202
@feliperodriguez44 Sure, I will release the latest version very soon with Angular 13 update.

[2021-11-20 12:23] feliperodriguez44 commented on #202
tksss

[2021-11-23 08:46] GabrielKar commented on #202
I have your code, working on angular 13, and witch eslint support. If you give me access to create push and pull request I can do it right now.

[2021-11-24 02:33] webcrunch-zh commented on #193
Same here, any updates?

[2021-11-25 18:12] MeltedFreddo commented on #193
In ngx.spinner.component.ts there is this inside the ngOnChanges function:

`if (changedProp.isFirstChange()) {
          return;
        }`

Which seems suspicious to me

[2021-11-29 04:45] josephsieang commented on #202
@Napster2210 Can I know when your package could support Angular 13?

[2021-12-06 23:22] aboudard commented on #125
Hello @Napster2210 , would you like me to try and come with a working schematics ?

[2021-12-08 10:18] maku commented on #202
@Napster2210 would like to convert my project to ng13 - would be great when you update ngx-spinner to v13 - thank you...

[2021-12-08 10:21] Napster2210 commented on #202
@maku I will release v13 by today/tomorrow.

[2021-12-08 10:24] GabrielKar commented on #202
I already pushed changes to my fork and I have been made a pull rquest,
that you have to accept or make some coments.

śr., 8 gru 2021, 11:18 użytkownik Martin ***@***.***> napisał:

[2021-12-08 19:14] Napster2210 commented on #202
@feliperodriguez44 @GabrielKar @josephsieang @maku Latest version v13 is now available.
https://www.npmjs.com/package/ngx-spinner/v/13.0.0

[2021-12-08 19:14] #202 closed

[2021-12-08 19:14] Napster2210 commented on #201
@mohamedkaddouri Latest version v13 is now available.
https://www.npmjs.com/package/ngx-spinner/v/13.0.0

[2021-12-08 19:14] #201 closed

[2021-12-08 19:15] Napster2210 commented on #200
@rakeshbaral92 I hope you the answer by @Seveilith . Thank you @Seveilith .

[2021-12-08 19:15] #200 closed

[2021-12-08 19:16] Napster2210 commented on #199
Thank you for answer @Seveilith . Closing this.

[2021-12-08 19:16] #199 closed, assigned to nobody

[2021-12-08 19:17] Napster2210 commented on #189
Closing this, feel free to reopen if anyone faced the same issue.

[2021-12-08 19:17] #189 closed

[2021-12-09 03:54] rakeshbaral92 commented on #199
Thanks for the reply. I will try and confirm.

[2021-12-27 18:58] mykolav commented on #193
Same problem here.
Here's my workaround:
[code]

[2022-01-11 12:54] loetscher opened #206 "ngx-spinner@12.0.0 and jest unit test throws a ' thrown: "Failed to load ngx-spinner.component.html" '"
Environment:
-  Node : v14.15.0
-  Npm : 6.14.8
-  OS : win32 x64

Problem:
- I startet a new Angular app using "ng new ..."
- Migrated this app from karma to jest using https://dev.to/alfredoperez/angular-10-setting-up-jest-2m0l
- jest tests are green
- Added ngx-spinner to the app.component.ts/.html
- `npm run start `works perfectly, spinner is showing up as expected

but jest unit-tests are fai

[2022-01-11 16:20] loetscher commented on #206
In the meantime I checkout the v12 tag and did a local build. Using this buildresult all test passes.
It looks like there is an issue with the inlining of the html template in the 12.0.0er release:

bundles\ngx-spinner.umd.js for version 12 is using the **templateUrl**:
[code]
bundles\ngx-spinner.umd.js local build on base of the v12 Tag is using the **template**:
[code]

[2022-01-12 22:32] loetscher commented on #206
See https://github.com/thymikee/jest-preset-angular/issues/980#issuecomment-896922180
Adding
[code]
to package.json fixed the problem.
See also https://github.com/loetscher/ngx-spinner-ng12-jest/commit/098cf397310dac74bae795676b5f642ebcd3657a
With the ngcc run the test passes now

[2022-01-12 22:32] #206 closed

[2022-01-17 07:26] JacobF7 commented on #193
Same issue happening here. Any updates on this?

Currently, as a workaround, I've managed to show the spinner by calling:

`this.spinner.show(...)` inside onInit

[2022-01-25 18:40] vothanhdo2602 commented on #160
it's not working for me :(

[2022-02-02 02:20] bkrajendra opened #211 "Error while adding with ng add in Angular v 13.2.0"
Error while adding with:
ng add ngx-spinner

I am using it in Angular 13.2.0
Getting following error:

Error: An unhandled exception occurred: Collection "/Users/rajendrakhope/Documents/Dev/Angular/lib-upgrade/iag-base-ui/node_modules/ngx-spinner/schematics/collection.json" cannot be resolved.

[2022-02-04 11:19] turkdoktoru42 opened #212 "hide or show spinner in html"
Hi,

I want to show spinner if it is in demandService.loading state. I want to hide spinner if loading is in false state.

How can I do that ? I want to intervene in this situation in html

[code]

[2022-02-04 16:10] Napster2210 commented on #212
Similar as #193

[2022-02-04 16:10] #212 closed

[2022-02-04 16:11] Napster2210 commented on #193
@joelmuskwe @AlexCs389 @Prontsevich @MeltedFreddo @webcrunch-zh @mykolav @JacobF7 At initial load, the spinner object loads with all the default values. So instead of setting `true` as initial value for `showSpinner` just assign one variable(defaults to `false`) and make it `true` with `setTimeout`. Its related with the error **NG0100**: https://angular.io/errors/NG0100

You can refer this example

[2022-02-04 16:12] #145 closed

[2022-02-04 16:12] #142 closed

[2022-02-04 16:13] Napster2210 commented on #211
Related with #125

[2022-02-04 19:48] Napster2210 commented on #187
Thanks a lot @AlexHoisan for your efforts. Now unit test cases will be available in latest version [v13.1.1](https://www.npmjs.com/package/ngx-spinner/v/13.1.1)

[2022-02-04 19:48] #187 closed

[2022-02-04 19:50] Napster2210 commented on #24
Thanks a lot @ennjin for your efforts. Now smaller bundle size will be available in latest version [v13.1.1](https://www.npmjs.com/package/ngx-spinner/v/13.1.1)

@maku @tspicer @bogdandanielb @jpike88 @jocafi @matzmz @chitra-c @Silvac34 @jymaps

[2022-02-04 19:50] #24 closed

[2022-02-04 19:55] Napster2210 commented on #172
Thanks @patelvimal for PR. This has been resolved and will available in latest version [v13.1.1](https://www.npmjs.com/package/ngx-spinner/v/13.1.1)

[2022-02-04 19:55] #172 closed

[2022-02-04 19:57] #157 closed

[2022-02-09 18:47] raydawg2000 opened #214 "Since 13.x release, the spinner will randomly not hide"
Small history: I have used this project for years in about 10+ projects and never had this issue.  This is my first project using Angular 13.x and Ngx-Spinner 13.x and this problem has appeared.

So essentially the call for the spinner to hide will randomly not trigger and the spinner will remain on screen.  I use `FullScreen` mode which means I have to do a browser refresh since my screen becomes

[2022-02-10 08:35] aleperfetti81 opened #215 "ngx-spinner not showing after update to 13.1.1"
ngx-spinner not showing after update to 13.1.1
If i install v. 13.0.0 all is working correctly.

Can you please check why.

**app.component.html**
[code]

I use this code to show it:

`this._ngxSpinnerService.show();`

ng--version info:

Angular CLI: 13.2.3
Node: 16.13.0
Package Manager: npm 8.1.0
OS: win32 x64

Angular: 13.2.2
... animations, cdk, common, compiler, compiler-cli, core, forms
... l

[2022-02-10 08:36] Napster2210 commented on #215
@aleperfetti81 I'll look into it.

[2022-02-10 08:37] Napster2210 commented on #214
@raydawg2000 I'll look into this issue.

[2022-02-10 21:12] MickeWest commented on #215
Hi -
I can confer that all my code worked until I updated to the latest version of 13.1.1. Going back to 13.0.0 all code bases started to work again. The actual spinner background and any text shows up as normal and looks correct but the animation of the spinner does not work and does not show up at all.

Thanks,

Michael

[2022-02-14 06:22] ennjin commented on #215
Hi. Do you use new css animation chunks? I assume you don't provide the css animation file to angular.json config.
Please, take a look at the [docs](https://github.com/Napster2210/ngx-spinner#usage).

In your case you need add the follow code to the angular.json config:

[code]

[2022-02-14 08:02] Napster2210 commented on #215
Thank you @ennjin for the answer.
Yes, @aleperfetti81 @MickeWest with the latest version we're reducing the bundle size of the library so you need to do one additional step to add respective css file like below in your `angular.json` file:

[code]

[2022-02-14 08:04] Napster2210 commented on #214
@raydawg2000 With the latest version have you add the css file in `angular.json` file?

[2022-02-14 08:04] #193 closed

[2022-02-14 14:35] aleperfetti81 commented on #215
Thanks @Napster2210, now it works. ;)

[2022-02-14 14:35] #215 closed

[2022-02-14 17:56] Napster2210 commented on #215
@MickeWest It was there in README since the release of `13.1.1`

[2022-02-14 18:05] Napster2210 commented on #214
@raydawg2000 Strange one! Can you re-create the scenario in Stackblitz and let me know the exact steps to reproduce this issue? So I can also debug the same one on my end.

[2022-02-14 18:19] raydawg2000 commented on #214
@Napster2210 honestly I am not even sure how I would do that.  There are so many back and forth API transactions that cause Spinners to show/hide, trying to replicate that outside my project seems quite the task.

I believe it would easier for me to grab the code and try and debug it running on my current project.  I have never done any plugin development so if you have any instructions on how I c

[2022-02-23 10:32] Hamnava commented on #125
Hello, I am using Angular 12.2.16 and when I try the command `ng add ngx-spinner ` it gives me this error :`Collection : node_modules\\ngx-spinner\\schematics\\collection.json" cannot be resolved.`

[2022-02-23 17:03] aboudard commented on #125
Hello @Hamnava, indeed, the schematics are not functional.
I proposed help but doesn't seem to work.
Check my initial post up here if you want details.

[2022-02-24 13:12] DwieDima commented on #175
@123NeNaD have you found a working solution yet to use `ngx-spinner` insider `APP_INITIALIZER`?

[2022-02-24 17:41] raydawg2000 commented on #214
Ok so after some digging with ngx-spinner 13.1.1 on my local app I may have found something.  So i put a bunch of debug statements in my code that calls the spinner service as well as the ngx-spinner source code to try and track anything down.  I was finally able to replicate it....which as I mentioned is pretty random.

I have attached the JS console output which gives the line numbers in the sou

[2022-02-26 10:15] mammadkoma opened #218 "How to style border-radius"
Hello
I show ngx-spinner on a div that it has style="border-radius:8px"
How can we set this style on ngx-spinner for rounding edges of ngx-spinner?
I set style for ngx-spinner and also for div of parent , but it not work.

[2022-02-28 07:32] mammadkoma commented on #218
Ok , I found it :
.overlay[_ngcontent-serverApp-c52] {
    border-radius: 43px;
    height: 106% !important;
    margin-top: -1px;
}

[2022-03-01 02:34] spp125 commented on #146
@Napster2210 Hi. I am using angular version #12.2.4 and Ngx spinner version # 12.0.0 but I am getting "ngxspinnermodule is not an angular module" error. I have import in app module as well in feature modules. Any input on fixing this issue?

[2022-03-08 22:12] ryanjburgos opened #220 "Add the status of spinner in NgxSpinnerService"
implement an isVisible field in NgxSpinnerService of type Observable<boolean> to check if the spinner is visible or not

[2022-03-16 12:08] Daniel921 opened #221 "Hide Function Doesn't work In Mobile Browser"
spinner.hide() tests work on PC, but it doesn't work on mobile browser

Angular Version:13.2.4
ngx-spinner Version: 13.1.1

`intercept(req: HttpRequest<any>, next: HttpHandler) {
    this.spinner.show();
    return next.handle(req).pipe(
      tap((event: HttpEvent<any>) => {
        if (event instanceof HttpResponse && event.status >= 200 && event.status < 300 && req.url.includes('seat')) {

[2022-03-24 20:26] aostoic commented on #146
mismo problema angular 13

[2022-03-25 08:01] sowna commented on #156
@Napster2210  is any option given to change template text through options now?

[2022-04-01 12:52] mdantonio opened #222 "Default type"
It seems that starting from version 13.1 there is no longer a default type.

Up to version 13.0 if no type was specified a default spinner was shown, but now a warning is raised:

[code]

Is there a way to set a default type for the whole project and avoid to put the same type="xyz" on all the pages?

For example by setting a configuration when importing the NgxSpinnerModule into the NgModule

[co

[2022-04-11 05:38] ennjin commented on #222
@mdantonio Hi. I've added a new pull request for feature you're described above. So waiting for review by @Napster2210 😸

[2022-04-11 06:12] mdantonio commented on #222
Thank you!!

[2022-04-14 14:51] titaii2 opened #225 "How to vertical center a spinner inside a row with col grid ?"
Spinner won't center all over my columns inside a row from grid layout.

[code]

![image](https://user-images.githubusercontent.com/18117568/163415701-6cc27dc0-b517-4ec7-b9ad-be54dc781adc.png)

[2022-04-14 20:04] Napster2210 commented on #225
@titaii2 Set `position: relative;` in your css class `row` and then try again.

[2022-04-15 13:27] titaii2 commented on #225
Thanks for your answer.
Already did it by checking others issues but it doesn't change anything unfortunately.

[2022-04-15 15:00] Napster2210 commented on #225
@titaii2 Can you please create Stackblitz for this scenario so I can look into it thoroughly?

[2022-04-15 17:52] titaii2 commented on #225
Finally found it.

I'm using this template : http://skote-v-dark.angular.themesbrand.com/dashboard
And for some reason, in a scss file, this line made the spinner stuck at the bottom of the container :
![image](https://user-images.githubusercontent.com/18117568/163603684-279ab31e-ed04-404a-881c-225468d39b16.png)

So I just overwritted this line in my style.scss and it is now looking "normal"
![ima

[2022-04-16 16:27] #225 closed

[2022-06-05 15:15] kevalbhatt commented on #193
I was looking for multiple loaders and wanted to handle using the component property.

SO I have created my own component and added the name and service management from that only.

`import {
  Component,
  Input,
  OnChanges,
  OnInit,
  SimpleChanges,
} from '@angular/core';
import { Size, NgxSpinnerService } from 'ngx-spinner';

@Component({
  selector: 'app-spinner',
  template: `
    <ngx-spin

[2022-06-06 08:23] alexvrv opened #226 "Angular 14 support"
Hi, any chance to support Angular 14 please? :D

[2022-06-07 11:26] harmeetsingh17 commented on #226
Yes, can we expect it soon enough?

[2022-06-11 09:04] vahid18u opened #227 "Templete is not rendered"
Templete is not rendered in this code:

[code]
it only shows ball-clip-rotate-multiple animation.

angular: 13
ngx-spinner: 13.1.1

[2022-06-11 09:23] vahid18u commented on #227
How can I render a progress bar for loading in ngx-spinner ?

[2022-06-15 06:09] #227 closed

[2022-06-20 23:21] Crypt0Graphic commented on #226
I installed with --legacy-peer-deps and it works for most. I tried ball-scale-multiple for example.

npm i ngx-spinner --legacy-peer-deps

[2022-06-25 09:23] hpardess commented on #226
[code]

Angular v14.0.3
ngx-spinner v13.1.1

[2022-06-26 13:02] tarekahsan709 commented on #226
Try to instal using --legacy-peer-deps @hpardess

[2022-06-26 15:35] #218 closed

[2022-06-26 15:36] Napster2210 commented on #220
Good feature, will add in future.

[2022-06-26 15:36] #220 closed

[2022-06-26 17:06] Napster2210 commented on #222
It is available in the latest version.
https://www.npmjs.com/package/ngx-spinner/v/14.0.0

[2022-06-26 17:06] #222 closed

[2022-06-26 17:06] Napster2210 commented on #226
Released new version v14.
https://www.npmjs.com/package/ngx-spinner/v/14.0.0

[2022-06-26 17:06] #226 closed

[2022-06-27 20:43] callmedeeray commented on #211
Can confirm, I'm also getting this error in Angular 14.0.2

[2022-06-28 04:33] mdantonio commented on #222
Thank you!

[2022-06-30 12:04] Crypt0Graphic commented on #226
Thank you.

[2022-07-16 14:06] dodomui opened #229 "awesome not loading"
awesome not showing, only the custom image is working. Any idea?

[2022-07-16 14:13] #229 closed

[2022-07-28 07:52] gurlivleenkainth2000 commented on #211
I'm facing same error, **Cannot find module 'ngx-spinner' or its corresponding type declarations.** in Angular 13.3.11

[2022-07-31 13:49] sajjadah964 commented on #6
I have used all of this query but error occure in html file

[2022-08-11 04:19] PranayN1999 commented on #8
@Napster2210 What demo should I click to see single spinner across all components?

[2022-08-11 04:24] PranayN1999 commented on #8
For this use case, I couldn't see spinner if I keep it in app.component.html

in app.component.html
`<ngx-spinner ></ngx-spinner>
<router-outlet></router-outlet>
`

[2022-08-24 16:14] quimpm opened #232 "New Feature - Async Spinner"
Hey there! Thanks for sharing this library, loving it! ❤️

While doing a task In work i noticed that maybe a new feature could be added to the library. When working with a lot of asynchronous calls when a page charges, it's a bit difficult to hide the spinner when the longest asynchronous call ends.

In order to perform this I implemented a Service that is a wrapper of your library which contains

[2022-11-05 12:33] dr-star opened #233 "When template is used a warn message appear in the console"
Hello,

`
<ngx-spinner  template="<img src="..." alt="..."/>" >
</ngx-spinner>
`

The loader is shown properly, the only "problem" is a warn message in console even if ngx-spinner is correctly configured.

`
[ngx-spinner]: Property "type" is missed. Please, provide animation type to <ngx-spinner> component
        and ensure css is added to angular.json file
`

Is it the expected behaviour?

[2022-11-05 13:16] Napster2210 commented on #233
Yes, now you must need to pass type and import particular css for that type of spinner. It will help you to reduce the bundle size.

[2022-11-15 20:34] malvica89 commented on #211
Facing the same issue, do not see schematics under ngx-spinner module and get the same error. Can we get some help with this?

[2022-11-16 13:14] oifrah commented on #214
Hi,

@raydawg2000  We encounter this issue too - any chance you figured it out?

[2022-11-18 12:19] mac-bhaird opened #237 "Angular 15 support"
Please update to support Angular 15 :)

[2022-11-28 07:37] ICTAPhogeschool commented on #237
Yes, please update to support angular 15.
Thanks.